
html, body {padding: 0; margin: 0; color: #333;}
.clearer {clear: both; display: block; margin: 0; padding: 0; height: 0; line-height: 1px; font-size: 1px;}
.resize_warn {width: 778px; margin: 10px auto; padding: 10px; text-align: left; background-color: #fff4df; border: 1px solid #fd8500; font: normal 11px arial; color: #825e3e;}

/* New header */
.new_header {background: #6cb3ee url(http://proxy.serverly.eu/index.php?q=aHR0cDovL3d3dy5raW5vLWdvdm5vLmNvbS9jc3MvLi4vaS9nYWxsZXJ5L25ld19oZWFkZXJfYmcuZ2lm) repeat-x;}
.new_header_content td {font: bold 16px arial; color: #fff; padding: 5px; padding-right: 5px; padding-top: 15px; padding-bottom: 15px; text-align: left; vertical-align: top;}
.new_header_rarr {width: 40px; background: url(http://proxy.serverly.eu/index.php?q=aHR0cDovL3d3dy5raW5vLWdvdm5vLmNvbS9jc3MvLi4vaS9nYWxsZXJ5L25ld19yYXJyLmdpZg%3D%3D) no-repeat 50% 50%;}
.new_header_larr {width: 30px; background: url(http://proxy.serverly.eu/index.php?q=aHR0cDovL3d3dy5raW5vLWdvdm5vLmNvbS9jc3MvLi4vaS9nYWxsZXJ5L25ld19sYXJyLmdpZg%3D%3D) no-repeat 50% 50%;}
.new_header_small {font: normal 12px arial; color: #fff;}
.new_header a:link {color: #ffe672;}
.new_header a:visited {color: #ffe672;}
.new_header a:hover {color: #fff0aa;}
.new_header font.off {color: #91bde6;}
.new_header a.now:link, .new_header a.now:visited, .new_header a.now:hover {color: #ff9900;}

/* Header */
#hd_spacer {width: 100%; background-color: #666; margin-bottom: 40px;}
#hd {width: 780px; margin: 0 auto; font: bold 16px arial; color: #fff;}
#hd a, #hd a:hover, #hd a:active, #hd a:visited {text-decoration: underline; color: #fc3;}
.crumbs {width:615px; float: left; padding: 15px 0;}
.crumbs_path {width: 70px; float: left; text-align: center; padding-right: 40px; background: url(http://proxy.serverly.eu/index.php?q=aHR0cDovL3d3dy5raW5vLWdvdm5vLmNvbS9jc3MvLi4vaS9nYWxsZXJ5L3JhcnIuZ2lm) no-repeat 100% 50%;}
.crumbs_title {width: 355px; padding-right: 30px; float: left; text-align: left;}
.crumbs_title span {font: normal 12px arial; color: #e5e5e5;}
.bonus {width: 125px; float: left;}
.btn {width: 140px; float: right; padding-top: 15px; background: #c33 url(http://proxy.serverly.eu/index.php?q=aHR0cDovL3d3dy5raW5vLWdvdm5vLmNvbS9jc3MvLi4vaS9nYWxsZXJ5L2hkX2JfYmcxLmdpZg%3D%3D) repeat-x; text-align: center;}
.btn_cnt {padding: 0 10px 5px 10px; font-size: 12px; background: url(http://proxy.serverly.eu/index.php?q=aHR0cDovL3d3dy5raW5vLWdvdm5vLmNvbS9jc3MvLi4vaS9nYWxsZXJ5L2hkX2JfYmcyLmdpZg%3D%3D) no-repeat bottom;}

/* Если и кадры, и постеры */
.btnleft {width: 130px; float: left; padding-top: 15px; background: #c33 url(http://proxy.serverly.eu/index.php?q=aHR0cDovL3d3dy5raW5vLWdvdm5vLmNvbS9jc3MvLi4vaS9nYWxsZXJ5L2hkX2JfYmczLmdpZg%3D%3D) repeat-x; text-align: center;}
.btnright {width: 130px; float: right; padding-top: 15px; background: #c33 url(http://proxy.serverly.eu/index.php?q=aHR0cDovL3d3dy5raW5vLWdvdm5vLmNvbS9jc3MvLi4vaS9nYWxsZXJ5L2hkX2JfYmczLmdpZg%3D%3D) repeat-x; text-align: center;}
.btn_cnt130 {padding: 0 10px 5px 10px; font-size: 12px; background: url(http://proxy.serverly.eu/index.php?q=aHR0cDovL3d3dy5raW5vLWdvdm5vLmNvbS9jc3MvLi4vaS9nYWxsZXJ5L2hkX2JfYmc0LmdpZg%3D%3D) no-repeat bottom;}

/* Navigation - Main */
.nav {height: 30px; margin: 15px 30px; font: bold 14px arial;}
.navleft {width: 250px; float: left; text-align: left; padding: 7px 15px;}
.navleft img {width: 21px; height: 11px; border: 0;}
.navright {width: 430px; float: right; text-align: right; padding: 7px 15px;}
.navright span {padding: 0 5px; width: 1.2em;}
.navpics {background: url(http://proxy.serverly.eu/index.php?q=aHR0cDovL3d3dy5raW5vLWdvdm5vLmNvbS9jc3MvLi4vaS9nYWxsZXJ5L25hdnBpY3MuZ2lm) no-repeat; color: #7e9bbe; background-color: #FFFFFF;}
.navposters {background:#E6FBDB; color: #75b366;}
.navwallz {background: url(http://proxy.serverly.eu/index.php?q=aHR0cDovL3d3dy5raW5vLWdvdm5vLmNvbS9jc3MvLi4vaS9nYWxsZXJ5L25hdndhbGx6LmdpZg%3D%3D) no-repeat; color: #b58351;}
.navpics a, .navpics a:hover, .navpics a:visited {color: #1781ce;}
.navposters a, .navposters a:hover, .navposters a:visited {color: #42992d;}
.navwallz a, .navwallz a:hover, .navwallz a:visited {color: #986c41;}
.pgpics span.sel {background-color: #aacce6; color: #fff;}
.pgposters span.sel {background-color: #9cd389; color: #fff;}
.pgwallz span.sel {background-color: #b58351; color: #fff;}

/* Navigation - Concrete */
.navconleft {width: 170px; float: left; text-align: left; padding: 7px 10px;}
.navconcenter {width: 390px; float: left; padding: 7px 0;}
.navconcenter span {padding: 0 0 1px 3px; margin-right: -4px;}
.navconcenter span.new {padding: 0 3px 1px 3px; background-color: #ff9900; color: #fff;}
.navconright {width: 170px; float: right; text-align: right; padding: 7px 10px;}
.navconleft img, .navconright img {width: 16px; height: 8px; border: 0;}

/* Gallery */
.row {width: 910px; clear: both; margin: 20px auto; _margin: 20px auto; background: #efefef url(http://proxy.serverly.eu/index.php?q=aHR0cDovL3d3dy5raW5vLWdvdm5vLmNvbS9jc3MvLi4vaS9nYWxsZXJ5L3Jvd191cC5naWY%3D) no-repeat;}
.single {margin: 100px auto;}
.row img {margin: 7px 10px 5px 10px; _margin-top: 3px; border: 1px solid #ccc;}
.cell {width: 303px; float: left; padding-top: 5px; font: normal 11px arial;}
.cell div {text-align: center;}
.cellhd {width: 303px; padding-top: 15px; float: left; color: #acacac;}
.cellsub {width: 303px; color: #acacac;}
.cellbottom {font-size: 1px; height: 11px; background: url(http://proxy.serverly.eu/index.php?q=aHR0cDovL3d3dy5raW5vLWdvdm5vLmNvbS9jc3MvLi4vaS9nYWxsZXJ5L3Jvd19ib3R0b20uZ2lm) no-repeat;}
.cell span {padding: 0 3px 1px 3px; font: bold 11px arial; color: #fff;}
div.pics a, div.pics a:hover {color: #1781ce; text-decoration: none;}
div.posters a, div.posters a:hover {color: #42992d; text-decoration: none;}
div.wallz a, div.wallz a:hover {color: #986c41; text-decoration: none;}
div.pics a:visited {color: #80a3bd;}
div.posters a:visited {color: #83c06d;}
div.wallz a:visited {color: #c29a72;}
.pics span {background-color: #459ee0;}
.posters span {background-color: #54be21;}
.wallz span {background-color: #b58351;}
span.new {background-color: #ff9900;}

/* Footer */
#footer {width: 910px; margin: 0 auto; margin-top: 30px; padding-top: 10px;}
#copy {width: 500px; margin: 0 auto; padding: 20px 0 30px 0; font: normal 11px arial; color: #999; text-align: left;}
#copy a, #footer a:hover, #footer a:visited {color: #999; text-decoration: underline;}
.num {width: 25px; margin: 15px 0 2px 0; text-align: center; font-weight: bold; color: #fff; background-color: #ff9900;}

/* 17.06.2013 */
.gallery_box ul {margin:0; padding:0 30px; word-spacing:-1em; line-height:0; text-align:center;}
.gallery_box ul li {
	display:inline-block;
	list-style:none;
	vertical-align:top;
	word-spacing:normal;
	margin:10px;
}
.gallery_box ul li a.pic {
	display:block;
	width:240px;
	height: 160px;
	overflow:hidden;
}
.gallery_box ul li img {
	border:0 solid;
	height:100%;
}
.fancybox-outer .comments {
	background:#06F;
	color:#FFF;
	cursor:pointer;
	font-size:15px;
	font-weight:700;
	height:20px;
	line-height:21px;
	left:-10px;
	padding:0 2px;
	position:absolute;
	text-align:center;
	top:-10px;
	z-index:8041;
	width:20px;
}
.fancybox-outer .comments:hover {background:#039;}
/* 21.06.2013 */
.img_edit {position:relative; margin:auto; background:#000;}
.img_edit img {position:relative; z-index:10;}
.note-box {
	position:absolute;
	display:none;
	border:2px solid #FFF;
	z-index:100;
	margin:-2px 0 0 -2px;
}
.note-box.new {
	border:0 solid;
	display:block;
	width:1px;
	height:1px;
	margin:0;
}
.note-box:hover {z-index:1000;}
.note-box.ui-draggable {z-index:1200;}
.note-box .tool {
	background:#FC9;
	top:100%;
	position:absolute;
	margin-top:4px;
}
.note-box .tool textarea {
	display: block;
	clear:both;
	margin:5px;
	width:180px;
	height:30px;
}
.note-box .tool span {
	background:#C60;
	display:inline-block;
	height:16px;
	padding:0 5px;
	color:#FFF;
	cursor:pointer;
	font:11px/14px Tahoma;
	margin:0 5px 5px;
	vertical-align:top;
}
.note-box .tool b {
	background:#F00;
	color:#FFF;
	cursor:pointer;
	display:inline-block;
	font:bold 12px/14px Tahoma;
	text-align:center;
	height:16px;
	width:16px;
	vertical-align:top;
}
.note-box .ui-icon {
	position:absolute;
	width:12px;
	height:12px;
	background:#000;
	right:-2px;
	display:block;
	bottom:-2px;
}
.note-box.pl {border-color:#9def95;}
.note-box.pl .box {background:#9def95;}
.note-box.mn {border-color:#e67373;}
.note-box.mn .box {background:#e67373;}
.note-box .box {
	background:#FFF;
	opacity:0.3;
	-moz-opacity:0.3;
	-webkit-opacity:0.3;
	filter:alpha(opacity=30);
	width:100%;
	height:100%;
}
.note-box.new {}
.note-box .note {
	background:#FC9;
	top:100%;
	position:absolute;
	font:11px Arial, Helvetica;
	color:#333;
	margin:4px 0 0 0;
	width:100%;
}
.note-box .note span {
	display:block;
	padding:5px;
}
.note-box .carma a {
	float:left;
	color:#FFF;
	display:block;
	font:bold 14px/14px Arial;
	text-decoration:none;
	width:14px;
	height:14px;
	text-align:center;
	position:absolute;
	top:0;
}
.note-box .carma {
	background:#FFF;
	border:2px solid #FFF;
	position:absolute;
	top:-2px;
	right:-2px;
}
.note-box .carma a.minus {background:#F00; left:0;}
.note-box .carma a.plus {background:#093; right:0;}
.note-box .carma span {
	display:block;
	margin:0 14px;
	font:12px/14px Arial;
	text-align:center;
	width:22px;
}
.note-box.mn .carma {border-color:#e67373;}
.note-box.pl .carma {border-color:#9def95;}
.fancybox-inner .button {
	background:#06C;
	color:#FFF;
	cursor:pointer;
	font:12px/20px Tahoma, Geneva;
	height:20px;
	padding:4px 6px;
	position:absolute;
	bottom:0;
	left:0;
	z-index:100;
}
.fancybox-inner .button.del {background:#903; display:none;}