/* Universal */
html, body {padding: 0; margin: 0; border: 0; font: normal 13px Arial, Tahoma, sans-serif; color: #515151; vertical-align: baseline; word-wrap: break-word;}
.clr {clear: both; display:block;}
iframe {border: 0; position: absolute; bottom: 1px; left: 1px;}
::selection {color: #ffffff; background: #646464;}
::-moz-selection {color: #ffffff; background: #646464;}
#scrolltop {display: none; position: fixed; bottom: 0; right: 40px; font-size: 16px; color: #c1e3ec; background-color: #2e5366; padding: 3px 8px 3px 8px; border: 1px solid #6f9eb1; border-bottom: none; cursor: pointer; z-index: 2000;}
#scrolltop:hover {opacity: 0.80; -moz-opacity: 0.80; -khtml-opacity: 0.80; filter: alpha(opacity=80);}
body {background: #08394e url('bg.jpg') center top no-repeat;}



/* Top bar + menu */
.ten_topbar {width: 1100px; height: 30px; margin: 0 auto; background: transparent;}
a.ten_logo_small {display: none; float: left; width: 40px; height: 30px; text-decoration: none; background: url('logo_small.png') 50% 50% no-repeat;}
a.ten_logo_small:hover {opacity: 0.80; -moz-opacity: 0.80; -khtml-opacity: 0.80; filter: alpha(opacity=80);}
#jsddm {display: block; float: left; width: 630px; margin: 0; padding: 0; height: 30px;}
#jsddm li {float: left; cursor: pointer; margin: 0 8px 0 16px; list-style: none; font: bold 14px Arial;}
#jsddm li a {display: block; padding: 8px 0 8px 0; margin: 0; line-height: 14px; text-decoration: none; color: #dbd947; white-space: nowrap; text-shadow: 1px -2px 1px #032330;}
#jsddm li a:hover {color: #f2f184; text-decoration: none; text-shadow: 1px -2px 1px #032330;}
#jsddm li ul {position: absolute; visibility: hidden; z-index: 100; padding: 0; margin: 0; border: 1px solid #6f9eb1; box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.70); -moz-box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.70); -webkit-box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.70); filter: progid:DXImageTransform.Microsoft.shadow(direction=90, color=#eefaff, strength=2);}
#jsddm li ul li {float: none; display: inline; margin: 0; font: normal 14px Arial; }
#jsddm li ul li a {width: auto; padding: 4px 24px 4px 6px; color: #c1e3ec; background-color: #2e5366; text-shadow: 1px 1px 1px #162d36;}
#jsddm li ul li a:hover {color: #000000; background-color: #dbd947; text-shadow: 0px 1px 1px #fff9e5; text-decoration: none;}

/* Search */
.ten_search {float: right; width: 390px; height: 26px; padding: 4px 5px 0 0; text-align: right;}
.ten_search input#s_str {vertical-align: top; width: 185px; height: 22px; padding: 0 0 0 3px; margin: 0; font-size: 14px; color: #5b666a; line-height: 22px; background-color: #ffffff; outline: none; -webkit-appearance: none; border: 0; border-radius: 0; opacity: 0.80; -moz-opacity: 0.80; -khtml-opacity: 0.80; filter: alpha(opacity=80);}
.ten_search input#search_submit {vertical-align: top; width: 22px; height: 22px; margin: 0 5px 0 0; padding: 0; overflow: hidden; text-indent: -9999px; background: #ffffff url('search_submit.png') 50% 50% no-repeat; cursor: pointer; outline: none; -webkit-appearance: none; border: 0; border-radius: 0; opacity: 0.80; -moz-opacity: 0.80; -khtml-opacity: 0.80; filter: alpha(opacity=80);}
.selectbox {vertical-align: top; cursor: pointer; text-align: left;}
.selectbox .select {opacity: 0.80; -moz-opacity: 0.80; -khtml-opacity: 0.80; filter: alpha(opacity=80); width: 140px; height: 22px; padding: 0 6px 0 6px; margin: 0; font: normal 14px Arial; color: #333333; line-height: 22px; text-shadow: 1px 1px 1px #ffffff; box-shadow: inset 1px -1px #f1f1f1, inset -1px 0 #f1f1f1, 0 1px 2px rgba(0,0,0,0.1); background: #f5f5f5 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC) repeat-x;}
.selectbox .select:hover {background-color: #e6e6e6; background-position: 0 -10px;}
.selectbox .select:active {background: #f5f5f5; box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.10); -moz-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.10); -webkit-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.10);}
.selectbox.focused .select {border: 1px solid #5794BF;}
.selectbox .select .text {display: block; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.selectbox .trigger .arrow {position: absolute; top: 9px; right: 7px; width: 0; height: 0; overflow: hidden; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #000; opacity: 0.50; -moz-opacity: 0.50; -khtml-opacity: 0.50; filter: alpha(opacity=50);}
.selectbox:hover .arrow {opacity: 1; -moz-opacity: 1; -khtml-opacity: 1; filter: alpha(opacity=100);}
.selectbox ul.dropdown {top: 22px; width: 150px; padding: 4px 0 4px 0; margin: 0; font: normal 14px Arial; border: 1px solid #c6cbd0; background: #ffffff; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.20); -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.20); -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.20); filter: progid:DXImageTransform.Microsoft.shadow(direction=90, color=#5f5f5f, strength=2);}
.selectbox li {padding: 3px 10px 4px 5px; color: #231F20;}
.selectbox li:hover, .selectbox li.selected {background: #4d96b9; color: #ffffff;}
.selectbox li.disabled {color: #aaaaaa;}
.selectbox li.disabled:hover {background: none;}

/* Front row */
#ten_frontrow_link {display: none; position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 100%; text-decoration: none;}
#ten_frontrow_logo {display: block; position: absolute; top: 30px; left: 40px; z-index: 2; width: 280px; height: 120px; text-decoration: none; background-color: transparent;}
#ten_frontrow_slogan {display: block; cursor: default; position: absolute; top: 70px; left: 460px; z-index: 2; width: 550px; height: 70px; text-decoration: none; background-color: transparent; font: bold 22px Arial; font-style: italic; color: #e8f4f8; text-shadow: 1px 2px 1px #0e171a; text-align: right; padding-top: 5px;}

#ten_frontrow_slogan a, #ten_frontrow_slogan a:visited {color: #61bee7;}

#ten_frontrow_trailer {display: none; position: absolute; top: 257px; left: 458px; z-index: 2; width: 98px; height: 32px; text-decoration: none;}
#ten_frontrow_trailer_container {display: none; position: absolute; top: 50px; left: 640px; z-index: 2; width: 400px; height: 200px; background-color: magenta;}
#ten_frontrow_button1, #ten_frontrow_button2 {position: absolute; z-index: 2; text-decoration: none; background-color: magenta;}
#ten_frontrow_button1 {display: none; top: 250px; left: 140px; width: 30px; height: 30px;}
#ten_frontrow_button2 {display: none; top: 250px; left: 190px; width: 30px; height: 30px;}

/* Ears */
.ten_ears_wrap {width: 1100px; height: 122px; margin: 0 auto; padding: 14px 0 14px 0;}
#ten_ear1 {visibility: visible;}
#ten_ear2 {visibility: visible;}
#ten_ear3 {visibility: visible;}
#ten_ear4 {visibility: visible;}
.ten_ears_wrap a {position: relative; float: left; width: 265px; height: 116px; margin: 0 0 0 8px; border: 2px solid #6f9eb1; background-color: #2e5366; background-position: 50% 20%; background-repeat: no-repeat; box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.70); -moz-box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.70); -webkit-box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.70); filter: progid:DXImageTransform.Microsoft.shadow(direction=90, color=#eefaff, strength=2);}
.ten_ears_wrap a:first-child {margin-left: 0px;}
.ten_ears_wrap a:hover {border-color: #8dcce6;}
.ten_ears_wrap a:hover span {color: #fbf975;}
.ten_ears_wrap a span {position: absolute; display: block; bottom: 0; left: 0; width: 257px; padding: 4px; margin: 0; font-size: 14px; text-align: center; color: #dbd947; text-shadow: 1px 1px 1px #000000; background: url('ears_mask.png') left top repeat; font-weight: bold;}

/* Content */
div.ten_content_wrap {width: 1100px; margin: 0 auto; padding: 0;}
.ten_col3_wrap {position: relative; float: left; width: 1100px; overflow: hidden; background: #2e5366 url('col3_bg.jpg') right top repeat;}
.ten_col2_wrap {position: relative; right: 420px; float: left; width: 1280px; background: #ffffff;}
.ten_col1_wrap {position: relative; right: 440px; float: left; width: 1100px; background: #2e5366 url('col1_bg.jpg') right top repeat;}
.ten_col1 {position: relative; left: 860px; float: left; width: 240px; min-height: 500px;z-index:10;}
.ten_col2 {position: relative; left: 860px; float: left; width: 620px; min-height: 500px;}
.ten_col3 {position: relative; left: 860px; float: left; width: 240px; min-height: 500px;z-index:10;}
.ten_col2_content {padding: 10px;}

/* Userbar */
.ten_userbar {padding: 8px; margin: 10px 10px 15px 10px; font-size: 12px; color: #dbd947; border: 1px solid #88a4b3; /* background-color: #3a728f; */ -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}
.ten_userbar b {display: inline-block; padding-bottom: 2px; font-size: 14px;}
.ten_userbar a, .ten_userbar a:visited {font-size: 12px; color: #c1e3ec;}
.ten_userbar a:hover {color: #d8f7ff;}
/*.ten_userbar a.ten_logout, .ten_userbar a.ten_logout:visited {display: inline-block; vertical-align: 1px; font-size: 12px; color: #ffe7b5;}
.ten_userbar a.ten_logout:hover {color: #ffe7b5;}*/
.ten_userbar a.ten_register, .ten_userbar a.ten_register:visited {display: inline-block; padding: 8px 0 5px 8px; font-size: 12px; color: #c1e3ec;}
.ten_userbar a.ten_register:hover {color: #d8f7ff;}
.ten_userbar input#ten_login_username, .ten_userbar input#ten_login_password {vertical-align: top; width: 160px; height: 22px; padding: 0 0 0 3px; margin: 2px 0 2px 0; font-size: 12px; color: #5b666a; line-height: 20px; background-color: #ffffff; outline: none; -webkit-appearance: none; border: 0; border-radius: 0;}
.ten_userbar input#ten_login_submit {vertical-align: top; height: 22px; padding: 1px 6px 0 6px; margin: 2px 0 2px 0; font-size: 12px; color: #bfd4da; line-height: 20px; background-color: #3b5f74; outline: none; -webkit-appearance: none; border: 1px solid #a5bdc7; border-radius: 0;}
.ten_userbar input#ten_login_submit:hover {cursor: pointer; color: #1a506f; background-color: #63b1de; border: 1px solid #83ceee;}

/* Banners */
/*
.ten_side_banner {position: relative; z-index: 0; width: 240px; padding-bottom: 10px; line-height: 0;}
.ten_side_banner a {text-decoration: none !important;}
#ten_side_banner_link {display: block; position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 100%; text-decoration: none;}
#ten_side_banner_button1 {position: absolute; z-index: 2; text-decoration: none; display: block; top: 100px; left: 66px; width: 79px; height: 116px;}
#ten_side_banner_button2 {position: absolute; z-index: 2; text-decoration: none; display: block; top: 311px; left: 113px; width: 30px; height: 30px;}
#ten_side_banner_button3 {position: absolute; z-index: 2; text-decoration: none; display: block; top: 311px; left: 155px; width: 30px; height: 30px;}
#ten_side_banner_button4 {position: absolute; z-index: 2; text-decoration: none; display: block; top: 311px; left: 197px; width: 30px; height: 30px;}
#ten_side_banner_button5 {position: absolute; z-index: 2; text-decoration: none; display: block; top: 350px; left: 72px; width: 30px; height: 30px;}
#ten_side_banner_button6 {position: absolute; z-index: 2; text-decoration: none; display: block; top: 350px; left: 113px; width: 30px; height: 30px;}
#ten_side_banner_button7 {position: absolute; z-index: 2; text-decoration: none; display: block; top: 350px; left: 155px; width: 30px; height: 30px;}
#ten_side_banner_button8 {position: absolute; z-index: 2; text-decoration: none; display: block; top: 350px; left: 197px; width: 30px; height: 30px;}
*/

/* Footer */
div.ten_footer_wrap {width: 100%; height: 380px; text-align: center; background: url('footer.jpg') center top repeat-x;}
div.ten_footer {width: 1080px; padding: 20px 0 10px 20px; margin: 0 auto; font-size: 11px; color: #919040; text-align: left; line-height: 13px; text-shadow: 1px 1px 1px #0d1f24;}
div.ten_footer p {padding: 0; margin: 0 0 12px 0;}
div.ten_footer a, div.ten_footer a:visited {color: #5a9cba; text-decoration: none !important;}
div.ten_footer a:hover {color: #7cbedd; text-decoration: underline !important;}
div.ten_slogan {visibility: visible; height: 60px; font-size: 18px; font-weight: bold; color: #a2d7ed; line-height: 60px; text-shadow: 1px -1px 2px #041e26;}

/* Branding */
.trailerb {margin: 0; text-align: center; background: #000000 url('/temp/residentevil5_lightbox.jpg') no-repeat center top; color: #fff3dc; text-shadow: 1px 1px 1px #000000; font-family: Arial, sans-serif; font-size: 14px; padding: 0; border: 0; display: none;}
.selector {width: 100%; height: 45px;}
.trailer {width: 100%; padding: 20px 29px 38px 29px;}

.column_header {margin:15px auto 0; font: normal 15px Arial; color: #dbd947; text-shadow: 1px -1px 1px #102f38; text-transform: uppercase; text-decoration: none; max-width:190px; cursor:move;}
.column_list {margin-bottom: 8px; font-size: 11px; text-align: center;}
.column_dashed {cursor: pointer; margin: 0 3px; color: #efee8a; border-bottom: 1px #efee8a dotted;}
.column_selected {margin: 0 3px; color: #f0ffcc;}

.blist {margin:0 0 10px; position:relative; font-size: 12px; color: #dbd947; padding-bottom:30px; z-index: auto !important;}

.options_box {height:1px;position:relative;}
.options_box a.close {background: url("images/hide_block.png") 0 0 no-repeat;display:block;height:16px;margin:4px;opacity:0;-moz-opacity:0;-webkit-opacity:0;filter:alpha(opacity=0);position:absolute;right:0;top:13px;width:16px;transition:all 0.5s;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;}
.tooltip_del {background:#FFF;border:1px solid #A6C2E2;box-shadow:#333 0 1px 2px;-moz-box-shadow:#333 0 1px 2px;-webkit-box-shadow:#333 0 1px 2px;color:#000;font: 12px Tahoma, Geneva, sans-serif;padding:10px;position:absolute;left:99%;top:-1px;text-align:center;width:208px;z-index:1000;}
.tooltip_del div.arrow {border-top:10px solid transparent;border-bottom:10px solid transparent;position:absolute;top:50%;margin-top:-10px;}
.ten_col1 .tooltip_del div.arrow {border-right:10px solid #CCC;left:-10px;}
.ten_col3 .tooltip_del div.arrow {border-left:10px solid #CCC;right:-10px;}
.ten_col3 .tooltip_del {left:auto;right:99%;}
.tooltip_del.add {left:0;background:#b9c6d5;bottom:30px;border:1px solid #A6C2E2;box-shadow:#333 0 1px 4px 0;-moz-box-shadow:#333 0 1px 4px 0;-webkit-box-shadow:#333 0 1px 4px 0;margin-bottom:-30px;padding:5px 0 5px 9px;height:30px;top:auto;text-align:left;width:229px;z-index:800;}
.tooltip_del .btn {border:2px solid;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;box-shadow:#B9B9B9 0 1px 2px;-moz-box-shadow:#B9B9B9 0 1px 2px;-webkit-box-shadow:#B9B9B9 0 1px 2px;cursor:pointer;display:inline-block;font:12px/26px Arial;height:26px;margin:0 5px;text-align:center;}
.tooltip_del .btn.yes {background:url("images/save_button_bg.png") 0 -26px repeat-x;border-color:#6ba7e9;color:#FFF;padding:0 6px;text-shadow:#24558A 0 -1px 1px;}
.tooltip_del .btn.no {background:url("images/abort_button_bg.png") 0 -26px repeat-x;border-color:#E3E3E3;color:#444;padding:0 8px;text-shadow:#FFF 0 1px 1px;}
.tooltip_del .btn:active {background-position: 0 0;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}

.tooltip_del .btn.yes:active {border-color:#81A6CE;}
.tooltip_del.add .hide {background: url("images/cancel_add_block.png") 0 0 no-repeat;cursor:pointer;margin-top:-5px;position:absolute;right:10px;top:50%;height:13px;width:13px;}
.tooltip_del.add .selectbox {top:4px;}
.tooltip_del.add .selectbox .select {width:180px;}
.tooltip_del.add .selectbox ul.dropdown {width:190px;}
.tooltip_del .yes {background:#03F;}
.tooltip_del .no {background:#C03;}
.addblock_box {background: url("images/add_block.png") 0 0 no-repeat;cursor:pointer;height:25px;width:25px;opacity:0;-moz-opacity:0;-webkit-opacity:0;filter:alpha(opacity=0);margin-left:-12px;position:absolute;left:50%;bottom:0;transition:all 0.5s;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;}
.blist:hover .options_box a.close, .blist:hover .addblock_box {opacity:0.5;-moz-opacity:0.5;-webkit-opacity:0.5;filter:alpha(opacity=50);}
.blist:hover .options_box a.close:hover, .blist:hover .addblock_box:hover {opacity:1;-moz-opacity:1;-webkit-opacity:1;filter:alpha(opacity=100);}
.place-col {height:100px; margin-top:-100px;}

.placeholder {height:0px; width:100%;}
.blist a, .blist a:visited {color: #c1e3ec; text-shadow: 0px -1px 1px #002633; text-decoration: none;}
.blist a:hover {color: #ddf8ff; text-shadow: 0px -1px 1px #002633; text-decoration: underline;}
.blist li {list-style: square; margin-bottom: 8px;}
.blist ul {margin: 0 0 20px 20px; padding: 0 10px 0 5px;}

/*.ten_col1 a, .ten_col1 a:visited, .ten_col3 a, .ten_col3 a:visited {color: #9f986c; text-shadow: 1px 1px 2px #000000; text-decoration: none;}*/
.sp-50 {clear:both;display:block;height:50px;}

.blist.ui-sortable-helper {background:#F00; box-shadow:#333 -2px 1px 2px;}







