/* вроде теперь не используются
.login_link, .link_column {color: #FF4F4F;}
.link_column_sub {color: #FFFFFF;}
.hotline {width: 100%; background-color: #ddd; color: #000;}
.hotline_breadcrumbs .input, .hotline_search .ok, .hotline_tabs td.active {font: normal 12px arial;}
.hotline_breadcrumbs {white-space: nowrap; padding: 10px;  border-bottom: 1px solid #ffffff; font: normal 12px arial; color: #000; }
.hotline_breadcrumbs form {padding: 0; margin: 0;}
.hotline_breadcrumbs .input {width: 300px; padding-left: 3px; margin-right: 5px;}
.hotline_breadcrumbs .ok {width: 5.5em;}
.hotline_breadcrumbs a, .hotline_breadcrumbs a:hover, .hotline_breadcrumbs a:visited {font: normal 12px arial; color: #000; text-decoration: underline;}
*/

/* берется из тем
body {background-color: #1A3755; padding: 0; margin: 0; font: normal 13px Arial, Tahoma, sans-serif; color: #515151;}
.column_header {font-size: 18px; margin: 5px 5px 0 5px; }
.column_list {margin-bottom: 10px; text-align: center;}
.column_dashed {color: #ffffff; border-bottom: 1px #FFFFFF dashed; cursor: pointer; margin: 0 3px;}
.column_selected {color: #ffffff; margin: 0 3px;}
.blist {margin: 0; font-size: 12px;}
.blist a, .blist a:visited, .blist a:hover {color: #FF4F4F;}
.blist li {list-style: square; margin-bottom: 3px;}
.blist ul {margin: 0 0 20px 20px; padding: 0 10px 0 5px;}
*/

a:focus {outline: none;}

.dashed_link {text-decoration: none; border-bottom: 1px dashed; color: #1965b5; cursor: pointer;}

.hidden {display: none;}
.nobr  { white-space:nowrap;}

.main {width: 600px; float: left; background-color: #FFFFFF; min-height: 800px; padding: 0px; margin: 0;}
.main10 {width: 600px; float: left; background-color: #FFFFFF; min-height: 800px; padding: 10px; margin: 0;}

a, a:visited {color: #1965b5; text-decoration: none;}
a:hover {color: #fc0000; text-decoration: underline;}

.video {text-align: center;}

.ten_ears_wrap a span i {white-space:nowrap; font-style: normal;}

table
{
	border-spacing:0;
    border-collapse: collapse; /* 'cellspacing' equivalent */
    border: 0;
}

table td, table th {padding: 0;border: 0;}
.percent100 {width: 100%;margin-top:10px;}
.percent100 tr th { height:24px;}
table.padding20 td, table.padding20 th {padding: 20px;}
table.padding10 td, table.padding10 th {padding: 10px;}
table.padding5 td, table.padding5 th {padding: 5px;}


.news_box {position:relative; padding-bottom:20px;}
.news_cat {color:#999;font:italic 11px Arial, Helvetica;padding:0 26px 0 52px;}
.news_cat .date {float:right; color:#C0C0C0;}
.news_title {padding:8px 0 8px 52px; position:relative; width:420px;}
.news_title .count {background:#a6a6a6;border-radius:4px;color:#FFF;font:14px/25px Arial, Helvetica;height:25px;position:absolute; left:0; top:7px;text-align:center;width:40px; text-shadow:#848d97 0 -1px;}
/*.news_title .count.full {background:#82a06b;text-shadow:#497929 0 -1px;}
.news_title a:hover .count.full {background:#91bf70;}*/

.movies_cat .news_title .count {background:#8badc5;}
.movies_cat .news_title a:hover .count {background:#89bce0;}
.anime_cat .news_title .count {background:#cb9ece; text-shadow:#88658a 0 -1px;}
.anime_cat .news_title a:hover .count {background:#e19de6;}
.tv_cat .news_title .count {background:#82a06b;}
.tv_cat .news_title a:hover .count {background:#91bf70;}
.games_cat .news_title .count {background:#dcb562; text-shadow:#a5853f 0 -1px;}
.games_cat .news_title a:hover .count {background:#f0be53;}

.news_head {font:18px/22px Arial, Helvetica; color: #1A64B5; text-decoration: none;}
.news_title a:hover .count, .news_head:hover {text-decoration:none;}
.news_title a:hover .count {background:#c5c5c5;}
.news_head:hover span {text-decoration:underline;}
/*.news_head h1 {font-size: 18px; margin-bottom: 0; padding-bottom: 0;}*/
.news_subheader {font: bold 14px arial, sans-serif; text-decoration: none;}
.news_author {padding:0 0 5px 52px; font:italic 11px Arial, Helvetica;}
.news_author a {color:#8badc5;}
.news_author a:hover {text-decoration:underline;}
.news_date {font-size: 11px;}
.news_comms {color: #1A64B5}
.news_text {clear:both;}
.news_border {border-bottom:1px solid #DDD; clear:both; padding:20px 0 0;}
.news_tags {float:left;color:#ACACAC; font:11px Arial; padding-top:15px;}
.news_tags div {float:left;padding-bottom:3px; width:380px;}
.news_tags .t-tag, .news_tags a {white-space:nowrap; color:#8badc5;}
.news_tags div.cat {width:48px; text-align:right; padding-right:3px;}
.news_tags .comms {padding-top:10px; width:100%; visibility:hidden;}
.news_box:hover .comms {visibility:visible;}
.news_tags ul {display:none;}
.news_shares {float:right; font:12px/16px Arial;  display:block; margin-top:15px; width:124px; height:16px; position:relative; cursor:pointer; }
.news_shares span {width:53px; height:16px; display:block; float:left;background:url("images/shares_icons.png") -2px -1px no-repeat;}
.news_shares i {color:#1965B5; border-bottom:1px dashed; font-style:normal;}
.news_shares:hover i {color:#FC0000;}

.prevnews_head {color:#646464; font:22px Arial;}
.prev_news {padding-top:10px;}
.prev_news ul {margin:0 0 10px; padding:0;}
.prev_news li {list-style:none; line-height:14px; position:relative; padding:6px 10px 0 30px;}
.prev_news li a {font:12px/14px Arial, Helvetica; text-decoration:none;}
.prev_news li .count {background:#dfdfdf; border-radius:2px; color:#6d6d6d; height:14px; width:25px; position:absolute; left:0; top:6px; font:normal 11px/15px Arial; text-align:center;}
.prev_news li a:hover .count {background:#ebebeb; text-decoration:none;}
.prev_news li .count.movies_cat {background:#d8e9f5;color:#4d7b9b;}
.prev_news li a:hover .count.movies_cat {background:#ceebff;}
.prev_news li .count.anime_cat {background:#e9e0ea; color:#976b9a;}
.prev_news li a:hover .count.anime_cat {background:#f8d6ff;}
.prev_news li .count.tv_cat {background:#dfedd6; color:#5f7e48;}
.prev_news li a:hover .count.tv_cat {background:#def7cf;}
.prev_news li .count.games_cat {background:#f1e8d3; color:#a3813a;}
.prev_news li a:hover .count.games_cat {background:#fff0c3;}


/*.prev_news li .count.full {background:#D1E8C1; color:#54753B;}
.prev_news li a:hover .count.full {background:#CDF2B3;}*/
.prev_news li a:hover span {text-decoration:underline;}
.prev_news .prev {padding:0 0 0 20px; display:table-cell; vertical-align:top;}
.prev_news .prev .date {color:#999; font:italic 11px Arial; padding-left:30px;}
.prev_news .popular {width:230px;display:table-cell; vertical-align:top;}
.prev_news .popular ul {padding:3px 15px 15px 10px;}
.prev_news .popular li {line-height:12px; padding-top:7px;}
.prev_news .popular li a {color:#AFAFAF; font:11px/12px Arial;}
.prev_news .popular li .count {background:#c8c8c8; color:#FFF; top:8px; height:12px; line-height:13px;}
.prev_news .popular li a:hover .count {background:#dedede;}

.prev_news .popular li .count.movies_cat {background:#c8d5de;}
.prev_news .popular li a:hover .count.movies_cat {background:#bcd7e9;}
.prev_news .popular li .count.anime_cat {background:#e1d6e2;}
.prev_news .popular li a:hover .count.anime_cat {background:#edd5ef;}
.prev_news .popular li .count.tv_cat {background:#c9d7bf;}
.prev_news .popular li a:hover .count.tv_cat {background:#c9e6b4;}
.prev_news .popular li .count.games_cat {background:#e5dac1;}
.prev_news .popular li a:hover .count.games_cat {background:#f0dcb1;}



.prev_news .popular .head {background:#EFEFEF; color:#8D8D8D; font:11px/12px Arial; padding:8px 10px;}
.next_page {background:#EEE;height:40px; margin:20px 0 -10px -10px; width:100%; padding-right:20px; text-align:right;}
.next_page a {color:#1965B5; text-decoration:underline; top:11px; position:relative; right:-10px;}
.next_page a:hover {color:#FC0000;}

.news_box_hidden {border-bottom:1px solid #DDD;color:#858484;font:11px/20px Tahoma, Geneva;padding:0 0 20px;position:relative;margin-bottom:20px;}
.news_box_hidden .over {width:530px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.news_box_hidden .over a {color:#AFAFAF;}
.news_box_hidden .count {background:#c8c8c8;border-radius:4px;color:#FFF;display:block;float:left;height:20px;margin:0 5px 0 0;padding:0 1px;position:relative;text-align:center;text-decoration:none;text-shadow:#9dbd97 0 -1px;width:28px;}
.news_box_hidden .count:hover {background:#dedede;}
.news_box_hidden .count.movies_cat {background:#c8d5de;}
.news_box_hidden .count.movies_cat:hover {background:#bcd7ea;}
.news_box_hidden .count.anime_cat {background:#e1d6e2;}
.news_box_hidden .count.anime_cat:hover {background:#edd5ef;}
.news_box_hidden .count.tv_cat {background:#c9d7bf;}
.news_box_hidden .count.tv_cat:hover {background:#c9e6b4;}
.news_box_hidden .count.games_cat {background:#e5dac1;}
.news_box_hidden .count.games_cat:hover {background:#f0dcb1;}

.news_box_hidden:hover .help_tool, .news_box:hover .settings,
.news_shares span {opacity: 0.5; -moz-opacity: 0.5; -khtml-opacity: 0.5; filter: alpha(opacity=50);}
.news_box_hidden .help_tool:hover,
.news_box_hidden .help_tool.active, .news_box .settings:hover, .news_box .settings.active, .auth_block .options:hover,
.news_shares:hover span {opacity: 1; -moz-opacity: 1; -khtml-opacity: 1; filter: alpha(opacity=100);}
.help_tool.active {background:url("images/setting_button.png") -26px -5px no-repeat;height:10px;right:5px;top:5px;width:10px;z-index:300;}
.news_box_hidden .tooltip_gr {top:0;}
.news_box_hidden .tooltip_gr .head {font:11px/20px Arial;height:20px;}
.news_box_hidden .tooltip_gr .body {border-color:#b5cab1;color:#343434;font:11px Arial;padding-bottom:5px;text-align:left;}
.news_box_hidden .tooltip_gr .body p {margin:0;padding:0 0 6px;}
.news_box_hidden .tooltip_gr .tags {color:#90240f; display:block;}
.news_box_hidden .tooltip_gr .prim {color:#7d7d7d;}
.news_box_hidden .tooltip_gr a {float:right;}

.help_tool {background: url("images/settings_hidden_help.png") 0 0 no-repeat;cursor:pointer;height:16px;position:absolute;right:2px;top:2px;width:17px;opacity: 0.2; -moz-opacity: 0.2; -khtml-opacity: 0.2; filter: alpha(opacity=20);z-index:98;}

.news_box .settings, .auth_block .options {background: url("images/setting_button.png") 0 0 no-repeat;cursor:pointer;position:absolute;right:0;opacity:0.2; -moz-opacity:0.2; -khtml-opacity:0.2; filter:alpha(opacity=20);top:-4px;width:20px;height:20px;z-index:98;}
.tooltip_gr {background:#FFF;display:none;position:absolute;right:0;top:-4px;box-shadow:#898989 0 0 5px;-moz-box-shadow:#898989 0 0 5px;-webkit-box-shadow:#898989 0 0 5px;width:350px;z-index:288;}
.tooltip_gr .head {background:#296EBA;height:30px;color:#FFF;font:14px/30px Arial, Helvetica, sans-serif;padding:0 0 0 11px;}
.tooltip_gr .body {border:1px solid #A6C2E2;border-top:0 solid;padding:9px;text-align:center;}
.tooltip_gr .theme {border-radius:8px;color:#2C2C2C;display:inline-block;padding:0 6px;font:11px/16px Arial;} 

.movies_cat .theme.movies,
.anime_cat .theme.anime,
.games_cat .theme.games,
.tv_cat .theme.tvs {background:#cef4c7;}

.news_box .settings.active {background-position:-20px 0;z-index:301;}
.tooltip_gr .advanced {background:#EEE;font-size:12px;text-align:left;width:330px;margin:0 0 -9px -9px;padding:10px 9px 9px;}
.tooltip_gr .advanced a {position:relative; text-decoration:underline; top:6px;}
.tooltip_gr .sbutton { float:right;}
.sbutton, .sbutton[disabled]:active {background:url("images/save_button_bg.png") 0 -26px repeat-x;border:2px solid #6ba7e9;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;box-shadow:#B9B9B9 0 1px 2px;-moz-box-shadow:#B9B9B9 0 1px 2px;-webkit-box-shadow:#B9B9B9 0 1px 2px;color:#FFF;cursor:pointer;font:12px Arial;height:26px;text-shadow:#24558A 0 -1px 1px;}
.sbutton[disabled] {opacity:0.5; -moz-opacity:0.5; -khtml-opacity:0.5; filter:alpha(opacity=50);cursor:default;}
.sbutton[disabled]:active {cursor:default;}
.sbutton:active {background-position:0 0;border-color:#81A6CE;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}
.tooltip_gr .help {color:#858585;float:left;font:11px Arial;padding:7px 0 0;}
.tooltip_gr .help span {background:#e4f2bf;padding:0 4px;border-radius:5px;}
.tooltip_gr .sp {clear:both;height:21px;}
.tooltip_help {background:#FFC;box-shadow:#999 0 1px 1px;-webkit-box-shadow:#999 0 1px 1px;-moz-box-shadow:#999 0 1px 1px;color:#333;display:table;margin:0 0 4px 0;padding:8px;position:absolute;bottom:100%;right:0;text-shadow:none;font:11px/12px Arial;white-space:nowrap;}
.count:hover .tooltip_help {text-decoration:none;}
#tag_filter {width:340px; overflow:hidden;}
.tooltip_gr .tag_zone {border-top:1px solid;font-size:11px;margin:10px 0;position:relative;text-align:left;}
.tag_zone.add {border-color:#88ac7c;}
.tag_zone.add .title {color:#307928;}
.tag_zone.add ul.tags li {color:#007D06; text-shadow:#FFF 0 1px 1px;}
.tag_zone.add ul.tags li .close:hover {background-color:#6AB75D; background-position:50% -20px;}
.tag_zone.add ul.tags li.ui-sortable-helper {background:#6AB75D; color:#FFF; text-shadow:#148E00 0 -1px 1px;}

.tag_zone.del {border-color:#b37b6e;}
.tag_zone.del .title {color:#794128;}
.tag_zone.del ul.tags li {background:#f9d3c5; color:#90240f; text-shadow:#FFF 0 1px 1px;}
.tag_zone.del ul.tags li .close {background-color:#f9d3c5; background-position:50% -40px; border-color:#be847b;}
.tag_zone.del ul.tags li .close:hover {background-color:#bf594c; background-position:50% -60px;}
.tag_zone.del ul.tags li.ui-sortable-helper {background-color:#bf594c; color:#FFF; text-shadow:#962d2d 0 -1px 1px;}

.tag_zone.del.empty {background:url("images/tag_empty.png") 50% 50% no-repeat;}
.tag_zone.add.empty {background:url("images/tag_empty_add.png") 50% 50% no-repeat;}

.tag_zone .title {background:#FFF;line-height:12px;left:0;padding-right:6px;position:absolute;top:-7px;}
.tag_zone ul.tags {min-height:36px;list-style:none;float:left;margin:10px 0;padding:0;width:100%;}
.tag_zone ul.tags li {background:#BCEEB3;border-radius:4px;height:20px;line-height:20px;margin:10px 9px 0 0;padding:0 25px 0 8px;position:relative;display:inline-block;white-space:nowrap;}
.tag_zone ul.tags li.place {background:#FFF;min-width:60px;}
.tag_zone ul.tags li span {cursor:move;display:block;max-width:140px;overflow:hidden;text-overflow:ellipsis;}
.tag_zone ul.tags li .close {background:#BCEEB3 url("images/tag_close.png") 50% 0 no-repeat;border-left:1px solid #86CA70;border-radius:0 4px 4px 0;cursor:pointer;display:block;height:20px;width:19px;position:absolute;right:0px;top:0;}
.tag_zone input {display:none;}

.tooltip_gr .toggler {background:#EBE5DD;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;height:20px;overflow:hidden;margin:4px 0 9px;position:relative;width:330px;z-index:1;}
.toggler .button {background:#518CCE;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;display:block;height:20px;width:110px;position:absolute;left:0;top:0;z-index:100;}
.toggler .zone {cursor:pointer;position:absolute;top:0;height:20px;text-align:center;width:110px;z-index:99;}
.toggler .zone span {color:#AD8D6E;font:11px/20px Arial;position:relative;text-shadow:#F7F3EB 0 1px 1px;z-index:200;user-select:none;-moz-user-select: none;}
.toggler .zone:hover span {color:#BC520C;}
.toggler .zone.checked {top:-20px;z-index:101;}
.toggler .zone.checked span {color:#FFF;bottom:-20px;text-shadow:#24558A 0 -1px 1px;transition:color 0.4s, text-shadow 0.4s;-moz-transition:color 0.4s, text-shadow 0.4s;-webkit-transition:color 0.4s, text-shadow 0.4s;}
.toggler .zone input {display:none;}

.set_act .anime_cat_opacity .op,
.set_act .movies_cat_opacity .op,
.set_act .games_cat_opacity .op,
.set_act .tv_cat_opacity .op,
.set_act .op_posters .op, .set_act .op_video .op, .set_act .op_images .op, .set_act .op_gallery .op, .set_act .op_scripts .op, .set_act .op_reviews .op
{opacity: 0.4; -moz-opacity: 0.4; -khtml-opacity: 0.4; filter: alpha(opacity=40);}
/* hr {opacity: 0.40; -moz-opacity: 0.40; -khtml-opacity: 0.40; filter: alpha(opacity=40);} */

.tooltip_shares {
	background:#FFF;
	box-shadow:#898989 0 0 5px;-moz-box-shadow:#898989 0 0 5px;-webkit-box-shadow:#898989 0 0 5px;
	cursor:default;
	display:none;
	position:absolute;
	right:0;
	top:0;
	z-index:288;
	width:190px;
}
.tooltip_shares .head {background:#296EBA; color:#FFF; font:11px/20px Arial; height:20px; position:relative; padding:0 0 0 10px;}
.tooltip_shares .close {background:url("images/setting_button.png") -24px -4px no-repeat; height:12px; width:12px; position:absolute; right:4px; top:4px; cursor:pointer;}
.tooltip_shares .body {border:1px solid #B5CAB1; border-top:0 solid; padding:10px 3px 8px; height:20px;}
.tooltip_shares .body a {display:block; height:20px; width:20px; background:url("images/news_share_icons.png") -100px 0 no-repeat; float:left; margin:0 5px;}
.tooltip_shares .body a:hover {opacity: 0.5; -moz-opacity: 0.5; -khtml-opacity: 0.5; filter: alpha(opacity=50);}
.tooltip_shares .body a.vk {background-position:0 0;}
.tooltip_shares .body a.fb {background-position:0 -20px;}
.tooltip_shares .body a.tw {background-position:0 -40px;}
.tooltip_shares .body a.lj {background-position:0 -60px;}
.tooltip_shares .body a.li {background-position:0 -80px;}
.tooltip_shares .body a.dr {background-position:0 -100px;}

.box_bold {color: #555555;}
.box1_sm {color: #333333;}
.box1_main {color: #404040;}
.box1_hd a {color: #000000; text-decoration: none; text-align: center; display: block; background: #dadada; padding: 4px; border: 1px solid #c9c9c9; border-style: none solid none none;}
.box1_hd a:hover {color: #000000; background: #ceedff; padding: 4px;}
.box1_hd_sel {text-align: center; color: #000000; background: #c1e3ff; padding: 4px; border: 1px solid #c9c9c9; border-style: none solid none none;}
.box1_row1 {border: 1px solid #d9d9d9; border-style: none solid none none; padding: 5px; background-color: #dff1fd;}
.box1_row2 {border: 1px solid #d9d9d9; border-style: none solid none none; padding: 5px; background-color: #ffffff;}
.box1_row3 {border: 1px solid #d9d9d9; border-style: none solid solid none; padding: 5px; background-color: #c8feb8;}
.box1_row4 {border: 1px solid #d9d9d9; border-style: none solid solid none; padding: 5px; background-color: #FFe0e0;}
.box1_row5 {border: 1px solid #d9d9d9; border-style: none solid solid none; padding: 5px; background-color: #F0F0F0;}
/*new*/
.box_row {border: 1px solid #d9d9d9; border-style: none solid none none; padding: 5px; background-color: #FFF;}
.row1 .box_row {background: #dff1fd;}
.row3 .box_row {background: #c8feb8;}

.box_office {display:table; margin:0; padding:0; border:1px solid #D9D9D9; width: auto; border-right:0 solid; color:#333;}
.box_office li {display:table-row;}
.box_office li.row2 {background:#dff1fd;}
.box_office li.new {background:#c8feb8;}
.box_office li > div {display:table-cell; border-right:1px solid #D9D9D9; padding:6px 4px; vertical-align:middle;}
.box_office li.new > div {border-bottom:1px solid #D9D9D9;}
.box_office li.head > div {background:#D9D9D9; padding:2px 4px; text-align:center; font-size:12px; font-weight:bold;}
.box_office div.num {text-align:center;}
.box_office div.mov {}
.box_office div.box {text-align:right; padding:6px;}
.box_office div.fal {font-size:11px; text-align:center;}
.box_office div.cop {font-size:11px; text-align:center;}
.box_office div.per {font-size:11px; text-align:center;}
.box_office div.num span {display:block; font-size:11px;}
.box_office .down {color:red;}
.box_office .up {color:blue;}
/*end new*/
.box1_title_hd {font: bold 18px arial, sans-serif; color: #949494; text-align: right; width: 40%; vertical-align: top;}
.box1_title_sp {width: 20px; background-color: #949494;}
.box1_title_date {font: bold 24px arial, sans-serif; color: #585858; width: 60%; vertical align: top;}

.td_head{font-family:sans-serif; font-size:12px; color:#FFFFFF; font-weight:bold;}
.bohd{font-family:sans-serif; font-size:24px; color:#585858; font-weight:bold;}
.bosubhd{font-family:sans-serif; font-size:20px; color:#ffffff; font-weight:bold;}
.col{border-top-width:0;border-left-width:0;border-right-width:0;border-bottom-width:1;border-bottom-color:#aab6ca;border-bottom-style:solid;}

.n_i_th {float: left; border: 0; margin-bottom: 10px; padding: 0; text-align: center;}
.n_i_t {display: inline-block; border: 0; margin-bottom: 10px; padding: 0; text-align: center; position:relative; vertical-align:top;}
.n_i {margin: 5px 0px 0px 0px; border: 0px;}
.news_trailer_sub {font: 11px tahoma, arial; color: #3c3c3c; margin-top: 3px; vertical-align: bottom; text-align: center; display: inline-block;}
.news_trailer_sub a {font: 11px tahoma, arial; margin-top: 0px;}
img.newspic_sb {border: 1px solid #000;}	
img.newspic_b {margin: 0 10px 10px 0; border: 1px solid #000;}
div.flvplayer {border-top: 1px solid #000; border-left: 1px solid #000; border-right: 1px solid #000;}
img.newspic {margin: 0 10px 10px 0; border: 0;}
img.newspic_b_r {float: right; margin: 4px 0 10px 10px; border: 1px solid #000;}
img.newspic_b_l {float: left; margin: 4px 10px 10px 0; border: 1px solid #000;}

.n_i_t:hover .socials {display:block;}
.socials {display:none;height:30px;width:170px;position:absolute;right:5px;bottom:12px;z-index:100;}
/*.twitter-share-button {float:left; position:relative; margin-top:5px;}
a.twitter-share-button {display:none;}
.vk_likebox {float:left; z-index:10;}
.fb-like {float:left; margin-top:5px; z-index:20;}*/

.newspic_right {margin: 5px 0 5px 10px; border: 1px solid #000;}
.newspic_left {margin: 5px 10px 5px 0; border: 1px solid #000;}

.swap_image {cursor: pointer; cursor: hand;}

/* Категории новостей в ленте */
ul.lenta_cats {width: 75px; list-style: none; margin: 0; padding: 0 0 0 10px; text-align: right;}
ul.lenta_cats li {float: right; display: block; padding: 0; margin: 2px 1px;}
ul.lenta_cats li a {display: block; overflow: hidden; width: 14px; height: 14px; text-decoration: none;}
ul.lenta_cats a:hover {opacity:.50; filter:alpha(opacity=50); -moz-opacity:.50; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=50)"; text-decoration: none;}
a.lenta_cat_mov {background-color: #dedede; border: 1px solid #959595;}
a.lenta_cat_ani {background-color: #f6c1ff; border: 1px solid #cf70d8;}
a.lenta_cat_tv {background-color: #afdeff; border: 1px solid #5eade4;}
a.lenta_cat_gam {background-color: #ffe7a5; border: 1px solid #e5ad16;}

/* Табы и заголовок страницы фильма */
.hotline_tabs td {text-align: center; color: #666666; padding: 3px; border: 1px solid #aaa; border-left: 0; background: #d5d5d5 url(../i/common/hotline_bg.gif) repeat-x; white-space: nowrap; font: normal 12px arial;}
.hotline_tabs img {border: 0; width: 12px; height: 12px;}
.hotline_tabs td.active {color: #139; background: #59c3ff url(../i/common/hotline_bga.gif) repeat-x;}
.hotline_tabs td.active a {}
.hotline_tabs td.current {color: #139; background: #ffffff repeat-x; border-bottom: 0px;}
.hotline_tabs td.current a {position: relative; left: 4px; top: 2px; display: inline; z-index: 66;}
.hotline_tabs a:link, .hotline_tabs a:hover, .hotline_tabs a:visited {font: normal 12px arial; color: #05c;} 
.hotline_tabs a:hover {font: normal 12px arial; color: #c00; text-decoration: underline;}
.hotline_tabs table {border: outset 0px; border-spacing: 0px 0px;}

/* Новостной селектор */
div#tabs {margin-left: 0px; padding-left: 0px; padding-right: 0px; position: relative; height: 32px;}
div#tabs ul, div#tabs ul li {list-style-type: none;	padding: 0; margin: 0;}
div#tabs ul li {float: left; text-align: center; overflow: hidden; text-overflow: ellipsis;}
div#tabs ul li a {height: 32px; line-height: 32px; display: block; background-color: #426694; text-shadow: 1px 1px 1px #373737; font-weight: bold; color: #ffffff; text-decoration: none; padding-left: 5px; padding-right: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
div#subtabs_all, div#subtabs_movies, div#subtabs_tv, div#subtabs_games, div#subtabs_anime, div#subtabs_other {margin-left: 0px; padding-left: 0px; padding-right: 0px; position: relative; height: 22px;}
div#subtabs_all ul li, div#subtabs_movies ul li, div#subtabs_tv ul li, div#subtabs_games ul li, div#subtabs_anime ul li, div#subtabs_other ul li, div#subtabs_all ul, div#subtabs_movies ul, div#subtabs_tv ul, div#subtabs_games ul, div#subtabs_anime ul, div#subtabs_other ul {list-style-type: none; padding: 0; margin: 0;}
div#subtabs_all ul li, div#subtabs_movies ul li, div#subtabs_tv ul li, div#subtabs_games ul li, div#subtabs_anime ul li, div#subtabs_other ul li {float: left; text-align: center; overflow: hidden; text-overflow: ellipsis;}
div#subtabs_all ul li a, div#subtabs_movies ul li a, div#subtabs_tv ul li a, div#subtabs_games ul li a, div#subtabs_anime ul li a, div#subtabs_other ul li a {height: 22px; line-height: 22px; display: block; text-shadow: 1px 1px 1px #373737; font-weight: bold; color: #ffffff; text-decoration: none; padding-left: 5px; padding-right: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
div#tabs ul li a.tab_all {background-color: #28476d;}
div#tabs ul li a.tab_movies {background-color: #59b919;}
div#tabs ul li a.tab_anime {background-color: #cf70d8;}
div#tabs ul li a.tab_tv {background-color: #5eade4;}
div#tabs ul li a.tab_games {background-color: #e5ad16;}
div#tabs ul li a.tab_other {background-color: #5a5a5a;}

div#tabs ul li a.tab_all:hover {background-color: #092e5b; text-decoration: underline;}
div#tabs ul li a.tab_movies:hover {background-color: #49a00f; text-decoration: underline;}
div#tabs ul li a.tab_anime:hover {background-color: #b566bc; text-decoration: underline;}
div#tabs ul li a.tab_tv:hover {background-color: #549ed2; text-decoration: underline;}
div#tabs ul li a.tab_games:hover {background-color: #e19f00; text-decoration: underline;}
div#tabs ul li a.tab_other:hover {background-color: #4a4a4a; text-decoration: underline;}

div#tabs ul li a.active {text-decoration: underline;}

#subtabs_all ul li {background-color: #28476d;}
#subtabs_movies ul li {background-color: #59b919;}
#subtabs_anime ul li {background-color: #cf70d8;}
#subtabs_tv ul li {background-color: #5eade4;}
#subtabs_games ul li {background-color: #e5ad16;}
#subtabs_other ul li {background-color: #5a5a5a;}

#subtabs_all ul li a:hover {background-color: #092e5b; text-decoration: underline;}
#subtabs_movies ul li a:hover {background-color: #49a00f; text-decoration: underline;}
#subtabs_anime ul li a:hover {background-color: #b566bc; text-decoration: underline;}
#subtabs_tv ul li a:hover {background-color: #549ed2; text-decoration: underline;}
#subtabs_games ul li a:hover {background-color: #e19f00; text-decoration: underline;}
#subtabs_other ul li a:hover {background-color: #4a4a4a; text-decoration: underline;}

#subtabs_all ul li a.active {background-color: #0a213d;}
#subtabs_movies ul li a.active {background-color: #3a8905;}
#subtabs_anime ul li a.active {background-color: #7f4485;}
#subtabs_tv ul li a.active {background-color: #347eb1;}
#subtabs_games ul li a.active {background-color: #c47d00;}
#subtabs_other ul li a.active {background-color: #222222;}

#subtabs_all ul li, #subtabs_movies ul li, #subtabs_anime ul li, #subtabs_tv ul li, #subtabs_games ul li, #subtabs_games ul li, #subtabs_other ul li, #subtabs_all ul li a.active, #subtabs_movies ul li a.active, #subtabs_anime ul li a.active, #subtabs_tv ul li a.active, #subtabs_games ul li a.active, #subtabs_games ul li a.active, #subtabs_other ul li a.active, #subtabs_all ul li a:hover, #subtabs_movies ul li a:hover, #subtabs_anime ul li a:hover, #subtabs_tv ul li a:hover, #subtabs_games ul li a:hover, #subtabs_games ul li a:hover, #subtabs_other ul li a:hover {background-image: url(/i/selector_subdiv.png); background-position: bottom right; background-repeat: no-repeat;}

/* Для рецензий */
.quote_left, .quote {font-family: sans-serif; font-size: 14px; color: gray; display: inline-block; vertical-align: top;}
.quote_left {text-align: right; width: 30%; font-weight: bold; padding: 10px 0 10px 0;}
.quote {text-align: left; width: 65%; font-style: italic; padding: 10px 0 10px 10px;}
.medal {font-weight: bold;}
.ohuitelno {color: #FF0000;}
.nehuevo {color: #0062d9;}
.klinika {color: #156501;}
.list_cover {margin: 2px 10px 10px 0; float: left; border: 1px solid #000000; width: 40px; height: auto;}

/* Новая голосовалка */
.star ul.ulstar { list-style: none; margin: 0; padding: 0; width: 130px; height: 17px; left: 10px; top: 0px; position: relative; float: left; background: url("../i/movies/rating.gif") repeat-x; cursor: pointer; }
.star li { padding: 0; margin: 0; float: left; display: block; width: 130px; height: 17px; text-decoration: none; text-indent: -9000px; z-index: 20; position: absolute;}
.star li.curr { background: url("../i/movies/rating.gif") left 17px; font-size: 1px; }
.star div.user { left: 15px; position: relative; float: left; padding-top: 1px;}

/* Более новая голосовалка? */
#newstar ul.newstar { list-style: none; margin: 0; padding: 0; width: 130px; height: 17px; left: 10px; top: 0px; position: relative; float: left; background: url("../i/movies/rating.gif") repeat-x; cursor: pointer; }
#newstar li { padding: 0; margin: 0; float: left; display: block; width: 130px; height: 17px; text-decoration: none; text-indent: -9000px; z-index: 20; position: absolute;}
#newstar li.newcurr { background: url("../i/movies/rating.gif") left 17px; font-size: 1px; }
#newstar div.newuser { left: 15px; position: relative; float: left; padding-top: 1px;}

/* Рейтинг (by Rogie King) */
.m_rating {list-style: none; margin: 0; padding: 0; width: 170px; height: 30px; position: relative; background: url(../i/movies/star.gif) top left repeat-x;}
.m_rating li {padding: 0; margin: 0; float: left;}
.m_rating li a {display: block; width: 17px; height: 30px; text-decoration: none; text-indent: -9000px; z-index: 30; position: absolute; padding: 0;}
.m_rating li a:hover {background: url(../i/movies/star.gif) left bottom; z-index: 1; left: 0;}
.m_rating a.one-star {left: 0;}
.m_rating a.one-star:hover {width: 17px;}
.m_rating a.two-stars {left: 17px;}
.m_rating a.two-stars:hover {width: 34px;}
.m_rating a.three-stars {left: 34px;}
.m_rating a.three-stars:hover {width: 51px;}
.m_rating a.four-stars {left: 51px;}	
.m_rating a.four-stars:hover {width: 68px;}
.m_rating a.five-stars {left: 68px;}
.m_rating a.five-stars:hover {width: 85px;}
.m_rating a.six-stars {left: 85px;}
.m_rating a.six-stars:hover {width: 102px;}
.m_rating a.seven-stars {left: 102px;}
.m_rating a.seven-stars:hover {width: 119px;}
.m_rating a.eight-stars {left: 119px;}
.m_rating a.eight-stars:hover {width: 136px;}
.m_rating a.nine-stars {left: 136px;}
.m_rating a.nine-stars:hover {width: 153px;}
.m_rating a.ten-stars {left: 153px;}
.m_rating a.ten-stars:hover {width: 170px;}

/* Тоже рейтинг */
.m_rating_ed h2, .m_rating_vis h2 {padding: 0; margin: 0; font: bold 14px arial; color: #3c3c3c;}
.m_rating_ed h3, .m_rating_vis h3 {padding: 0; margin: 0; font: bold 14px arial; color: #c00;}
.m_rating_vis h5 {padding: 10px 0 0 0; margin: 0; font: normal 11px arial; color: #3c3c3c;}
.m_rating_vis a:link, .m_rating_vis a:visited {font: normal 11px arial; color: #05c;}
.m_rating_vis a:hover, .m_rating_vis a:active {font: normal 11px arial; color: #c00;}
.m_rating_vis span {font: bold 11px arial; color: #9f9f9f;}


/* Опросы */

#pollWrap{
	width: 500px;
}
#pollWrap h3 {
	margin-bottom: 5px;
}
#pollWrap ul {
	margin: 0;
	padding: 0 0 0 5px;
	list-style:none;
}
#pollWrap li {
	padding: 0;
	overflow:hidden; /*for our lovely friend IE6 to behave nicely*/
}

.pollChart {
	margin-left: 25px;
	height: 5px;
	width:1px;
	/*Adding rounded corners to the graphs - Optional - START*/
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	/*Adding rounded corners to the graphs - Optional - END*/
}
#pollSubmit {
	margin-top: 5px;
}
#pollMessage {
	color:#C00;
	font-weight: bold;
}

/* Конец опросов */


	.whitebg {background-color: #FFFFFF;}

	.karma_minus {
		color: #FFFFFF;
		background-color: #EE9999;
		padding: 0 3px;
		cursor: hand;
		cursor: pointer;
	}
	.karma_minus:hover {
		background-color: #DD0000;
	}
	.karma_plus {
		color: #FFFFFF;
		background-color: #99DD99;
		padding: 0 3px;
		cursor: hand;
		cursor: pointer;
	}
	.karma_plus:hover {
		background-color: #00AA00;
	}

/* Для странички рекламы */
	.subheader {font-size: 18px; color: #444444; font-weight: bold;}
	.superheader {font-size: 25px; color: #444444; padding: 20px; font-weight: bold;}
	
/* Для рецензий */

.gall	{padding-top:10px;}
.blocks	{font-family:sans-serif;font-size:16px;color:gray;font-weight:bold;padding-bottom:15px;padding-top:10px;}
.headline	{font-family:impact;font-size:26px;color:gray;padding-left:9px;}
.top	{font-family:sans-serif;font-size:16px;color:gray;font-weight:bold;padding-left:10px;}
.dabest	{padding-left:5px;}
.grade	{font-family:sans-serif;font-size:14px;color:#25600d;font-weight:bold;}
.grade_active	{font-family:sans-serif;font-size:15px;color:#b30000;font-weight:bold;}
.grade_inactive	{font-family:sans-serif;font-size:15px;color:#e1e1e1;font-weight:bold;}
.local_active	{font-family:sans-serif;font-size:15px;color:#b30000;font-weight:bold;}
.local_inactive	{font-family:sans-serif;font-size:15px;color:#e1e1e1;font-weight:bold;}

.pages a {border-right: solid 1px #ccc; padding: 0px 4px 0px 4px;}
.pages a:visited {border-right: solid 1px #ccc; padding: 0px 4px 0px 4px;}
.pages a:hover {border-right: solid 1px #ccc; padding: 0px 4px 0px 4px;}
.pages span {border-right: solid 1px #ccc; padding: 0px 4px 0px 4px;}

/* Для аниме-превью и т.д. */

.toplist .date {
	text-align: center;
	margin: 10px auto 20px auto;
	font-size: 24px;
	color: #AA0000;
	border: 1px solid #AA0000;
	border-left-width: 0;
	border-right-width: 0;
	padding: 10px 0;
	clear: both;
}
.toplist .russian {
	margin: 20px 0 0 0;
	font-size: 22px;
	color: #444444;
	font-weight: bold;
	padding-left: 15px;
	text-shadow: 1px 1px 1px #cccccc;
	clear: both;
	text-align: left;

}
.toplist .original {
	font-size: 18px;
	color: #888888;
	font-weight: bold;
	padding-left: 27px;
	margin-bottom: 10px;
	clear: both;
	text-align: left;
}
.toplist .text {
	margin-left: 15px;
	margin-right: 15px;
	clear: both;
	text-align: left;
}
.toplist .text img.left {
	float: left;
	margin: 0 15px 15px -15px;
}

.toplist .text img.right {
	float: right;
	margin: 0 -15px 15px 15px;
}

.toplist .text .info {
	background-color: #e5e5e5;
	display: block;
	padding: 15px;
	margin: 0 -15px 15px -15px;
	text-shadow: 0 1px 1px #f7f7f7;
	height: 64px;
}

.toplist .text .info a {
	color: #1965b5;
	text-shadow: 0 1px 1px #f7f7f7; text-decoration: underline;
}

.toplist .text .info a:hover {color: #408de0;}

.toplist .waiting 
{
	display: block;
	margin: 0 -15px 50px 0px;
	-webkit-border-top-right-radius: 8px; -moz-border-radius-topright: 8px; border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px; -moz-border-radius-bottomright: 8px; border-bottom-right-radius: 8px;
	clear: both;
}

.toplist .high
{
	display: inline-block;
	padding: 15px 20px 15px 15px;
	-webkit-border-top-right-radius: 8px; -moz-border-radius-topright: 8px; border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px; -moz-border-radius-bottomright: 8px; border-bottom-right-radius: 8px;
	background-color: #cef4ce;
	color: #286a28;
	text-shadow: 0 1px 1px #f7fffa;
}

.toplist .average
{
	display: inline-block;
	padding: 15px 20px 15px 15px;
	-webkit-border-top-right-radius: 8px; -moz-border-radius-topright: 8px; border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px; -moz-border-radius-bottomright: 8px; border-bottom-right-radius: 8px;
	background-color: #F8D9AB;
	color: #834913;
	text-shadow: 0 1px 1px #fff5e1;
}

.toplist .low
{
	display: inline-block;
	padding: 15px 20px 15px 15px;
	-webkit-border-top-right-radius: 8px; -moz-border-radius-topright: 8px; border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px; -moz-border-radius-bottomright: 8px; border-bottom-right-radius: 8px;
	background-color: #ffcbcb;
	color: #8d3d32;
	text-shadow: 0 1px 1px #ffdcce;
}

.schedule {
	display:table;
	margin:0 auto;
	padding:8px 0 12px 6px;
}
.schedule .day_box {
	float:left;
	margin:0 5px;
	width:192px;
}
.schedule .day_box.current .today {visibility:visible;}
.schedule .day_box.current .day {background:#C4BAA5 !important; color:#FFF;}
.schedule .day_box.current .halls {background:#F8F1DD;}
.schedule .day_box .today {
	color:#B3A78E;
	font-size:10px;
	height:16px;
	line-height:16px;
	text-align:right;
	visibility:hidden;
}
.schedule .day_box .day {
	background:#e5e5e5;
	color:#515151;
	font-size:11px;
	line-height:13px;
	padding:4px 7px;
}

.schedule .day_box .day_empty {
	background:#e5e5e5;
	color:#515151;
	font-size:11px;
	line-height:13px;
	padding:4px 7px;
	margin-left: -10px;
	height: 26px;
}

.schedule .day_box.dayoff .day {background:#FAE2D6;}
.schedule .day_box .day span {
	display:block;
	font-weight:bold;
}
.schedule .day_box .halls {
	font-size:12px;
	padding:3px 7px;
}
.schedule .day_box .hall {
	line-height:15px;
	padding: 5px 0 5px 5px;
	text-indent: -7px;
}

.schedule .day_box .hall span {
	color:#777777;
	display:block;
	font-size:12px;
	text-indent: 0;
}

/* Упрощённые сценарии */

.scripts {
	margin: 30px auto;
	width: 520px;
	border: 1px solid #ccc;
	font-size: 14px;
	font-family: "courier new";
	color: #000000;
	padding: 20px;
	text-align: center;
	}

.scripts_page1 {background: #fff url(/scripts/paper_bg_1.jpg) 100% 0% repeat-y;}
.scripts_page2 {background: #fff url(/scripts/paper_bg_2.jpg) 0% 0% repeat-y;}

.scripts .spc {margin-top: 15px; margin-bottom: 20px; text-align: left;}
.scripts .author {text-align: right;}
.scripts .dlg {width: 70%; margin: 0 auto; text-align: left;}
.scripts .name {padding-left: 150px;}
.scripts .act {padding-left: 35px;}
.scripts a, .scripts a:visited, .scripts a:hover {color: #000000; text-decoration: underline;}

.news_cover_center {max-width: 600px; overflow: hidden; padding: 10px 0 5px 0;}
.news_cover_center img {display: block; margin: 0 auto;}
.news_cover_left, .news_cover_right {max-width: 300px; overflow: hidden;}
.news_cover_left {float: left; padding: 10px 10px 5px 0;}
.news_cover_right {float: right; padding: 10px 0px 5px 10px;}

/* 13.06.2013*/
.news_shares i {border-bottom:1px dotted;}
.news_tags .comms {padding-top:0;}