.clr {height:0px;}
._sp20 {height:20px;}
._sp30 {height:30px;}
._bb {border-bottom:1px solid #D8D8D8;}
._bt {border-top:1px solid #D8D8D8;}
.ta-r {text-align:right;}
/* User Sections */
.section li .ic,
.section li .icons .user-grade,
.section li .icons .mg-icon,
.section li .user-comm,
.critic_box .c-name {
	background-image:url("../i/section_small_icons.png");
	background-repeat:no-repeat;
}
.a_content {
	width:190px;
	margin:20px 10px 0;
	min-height:200px;
	float:left;
}
.content_sections {
	width:730px;
	margin:0 10px;
	float:right;
}
h1 {
	color:#333;
	font:200 26px/26px Arial, Helvetica;
}
.c_s {
	width:350px;
}
.c_s.left {float:left;}
.c_s.right {float:right;}
.section {
	padding:20px 0;
	width:350px;
}
.section._empty {
	opacity:0.5;
	-moz-opacity:0.5;
	-webkit-opacity:0.5;
	filter:alpha(opacity=50);
	transition:opacity 0.7s ease;
	-moz-transition:opacity 0.7s ease;
	-webkit-transition:opacity 0.7s ease;
	-o-transition:opacity 0.7s ease;
}
.section .head {
	background:#FFD34E;
	padding:10px;
	position:relative;
	min-height:30px;
}
.section._empty .head {background-color:#e7eced; padding-bottom:12px;}
.section .head p {
	color:#808080;
	font-size:12px;
	line-height:16px;
	padding:10px 0 0 5px;
}
.section h2 {
	font-size:24px;
	font-weight:200;
	line-height:30px;
	text-shadow:#F2F2F2 0 1px;
}
.section._empty h2 {
	padding-bottom:16px;
}
.section .icon-head {
	position:absolute;
	right:13px;
	top:12px;
	background:url("../i/section_icons.png") -500px 0 no-repeat;
}
.subs .icon-head {background-position:0 0;height:25px;width:43px;}
.favs .icon-head {background-position:-44px 0;height:26px;width:31px;}
.comm .icon-head {background-position:-76px 0;height:27px;width:31px;}
.grades .icon-head {background-position:-108px 0;height:28px;top:10px;width:36px;}

.t-icon {
	background:url("../i/section_small_icons.png") -100px 0 no-repeat;
	display:inline-block;
	line-height:12px;
	padding-left:10px;
}
.t-icon._t-critic-a {background-position:0 -96px;}
.t-icon._t-critic {background-position:-2px -23px;}
.t-icon._t-user {background-position:0 -108px;}
.t-icon._t-movie {background-position:0 0; padding-left:15px;}
.t-icon._t-game {background-position:0 -11px; padding-left:15px;}

.section .foot {
	background:#AAB7BB;
	border-bottom:2px solid #CEDEE2;
	color:#FFF;
	height:24px;
	line-height:14px;
	padding-top:6px;
	position:relative;
	text-align:center;
}
.section .foot .more {
	background:#AAB7BB;
	color:#FFF;
	font-size:13px;
	line-height:14px;
}
.section .foot .more:hover {color:#FFE8B1;}
.anchor {
	text-decoration:none;
	border-bottom:1px dotted;
}
.section .foot .help {
	font-size:11px;
	position:absolute;
	left:10px;
	top:8px;
}
.section .but-s {
	position:absolute;
	height:14px;
	width:43px;
	top:8px;
	right:12px;
}
.section .but-s a {
	background-image:url("../i/section_icons.png");
	background-position:-500px;
	float:left;
	margin-left:8px;
	opacity:0.5;
	-moz-opacity:0.5;
	-webkit-opacity:0.5;
	filter:alpha(opacity=50);
	transition:opacity 0.4s;
	-moz-transition:opacity 0.4s;
	-webkit-transition:opacity 0.4s;
}
.section .but-s a.rss {background-position:0 -29px; height:13px; width:13px;}
.section .but-s a.set {background-position:-14px -28px; height:14px; width:14px;}

.section .body {color:#808080; padding:10px 5px 15px;}
.section.subs .body {padding-left:16px;}

.section .sub-title {
	font:11px Arial;
	border-bottom:1px solid #DDD;
	padding:9px 0 10px;
	margin-bottom:12px;
	height:12px;
}

.section ul.list li {
	color:#808080;
	border-bottom:1px solid #FFF;
	font-size:12px;
	padding:4px 0 3px;
}
.section ul.list.extend li {
	border-bottom:0 solid;
}
.section ul.list li:hover {border-bottom-color:#DDD;}

.section li .ic {
	background-position:-50px 0;
	position:absolute;
	left:0;
	top:0;
	width:13px;
	height:13px;
}
.section li .ic.movie {background-position:0 1px;}
.section li .ic.game {background-position:0 -11px;}
.section li .ic.critic {background-position:0 -23px;}
.section li .ic.blog {background-position:0 -35px;}
.section li .ic.review {background-position:0 -47px;}
.section li .ic.wisdom {background-position:0 -59px;}

ul.list li .mg-name {
	padding:0 0 0 19px;
	position:relative;
	font:12px/14px Arial;
	width:200px;
	float:left;
}
ul.list.extend li .mg-name {width:auto;}
.section.comm li .mg-name {width:240px;}
ul.list li .mg-name a {color:#3C3C3C; text-decoration:none;}
ul.list li .mg-name a:hover {color:#008FBF;}
ul.list li .mg-name a .user-grade,
ul.list li .mg-name a .site-grade {
	display:inline-block;
	padding:0 1px;
	position:relative;
	xbottom:-2px;
	border:1px solid;
	line-height:11px;
}
ul.list li .mg-name a .site-grade {
	color:#FFF;
	border:0 solid;
	padding:1px 2px;
}
ul.list li .mg-name a .user-grade span,
ul.list li .mg-name a .site-grade span {
	font:11px/11px Arial;
	display:block;
}
ul.list li .mg-name a.anchor {color:#008fbf;}
.section li .icons {
	text-align:right;
	width:120px;
	height:14px;
	margin-top:2px;
	float:right;
}
.section.comm li .icons {width:60px;}
.section li .icons .user-grade {
	background-position:100% -84px;
	font:11px/12px Arial;
	width:30px;
	height:12px;
	padding:0 14px 0 8px;
	text-align:right;
	float:right;
}
.section.favs .icons .user-grade,
.section.grades .icons .site-grade {
	visibility:hidden;
}
.section.favs li:hover .icons .user-grade,
.section.favs li:hover .icons .mg-icon,
.section.grades li:hover .icons .site-grade {visibility:visible;}
.section li .icons .site-grade {
	color:#FFF;
	font:11px/12px Arial;
	height:12px;
	text-align:center;
	width:22px;
	float:right;
}
.section li .icons .mg-icon {
	cursor:pointer;
	visibility:hidden;
	height:12px;
	margin:0 10px 0 8px;
	width:13px;
	float:right;
	opacity:0.5; -moz-opacity:0.5; -webkit-opacity:0.5; filter:alpha(opacity=50);
}
.section li .icons .mg-del {background-position:0 -72px;}
.section li .icons .mg-add {background-position:0 -142px;}
.section li .icons .mg-added {background-position:0 -154px; cursor:default;}
.section li .user-comm {
	background-position:33px -130px;
	font:11px/12px Arial;
	text-align:right;
	width:44px;
	float:right;
}
.section li .user-comm.new { background-position:33px -120px;}
.section li .user-comm a {
	color:#87979C;
	text-decoration:none;
	padding:0 14px 0 0;
}
.section li .user-comm a:hover {color:#008FBF;}


.user-grade.r-good {color:#00BA1F;}
.user-grade.r-average {color:#FFA200;}
.user-grade.r-bad {color:#CB0705;}
.user-grade.r-awful {color:#404040;}
.user-grade.r-none {color:#CFCFCF;}

.site-grade.r-good {background-color:#99e3a5;}
.site-grade.r-average {background-color:#ffda99;}
.site-grade.r-bad {background-color:#ea9c9b;}
.site-grade.r-awful {background-color:#b3b3b3;}
.site-grade.r-none {background-color:#ececec;}

li:hover .site-grade.r-good, .extend .site-grade.r-good {background-color:#00BA1F;}
li:hover .site-grade.r-average, .extend .site-grade.r-average{background-color:#FFA200;}
li:hover .site-grade.r-bad, .extend .site-grade.r-bad {background-color:#CB0705;}
li:hover .site-grade.r-awful, .extend .site-grade.r-awful{background-color:#404040;}
li:hover .site-grade.r-none, .extend .site-grade.r-none {background-color:#CFCFCF;}

.critic_box {padding:0 0 8px;}
.critic_box .c-name {
	background-position:-50px 0;
	font:bold 12px/14px Arial;
	height:13px;
	margin:0 0 3px -15px;
	padding:0 0 0 15px;
}
.critic_box .c-name.critic {background-position:0 -96px;}
.critic_box .c-name.user {background-position:0 -108px;}
.critic_box .c-name a {color:#3C3C3C; text-decoration:none;}
.critic_box .c-name a:hover {color:#698697;}

.section .tabs {
	font:12px/20px Arial;
	outline:none;
	overflow:hidden;
	margin-left:-1px;
}
.section .tabs:after {
	content:"";
	display:block;
	clear:both;
}
.section .tabs a {
	background:#90CDE0;
	color:#FFF;
	border-left:1px solid #FFF;
	display:block;
	float:left;
	text-align:center;
	text-decoration:none;
	height:20px;
	width:116px;
}

.section .tabs a:hover {background:#50c5e9;}
.section .tabs a.act {background:#ffd34e; color:#000; cursor:default;}
.section.grades .tabs a {width:87px;}
.section.grades .tabs a:first-child {width:86px;}
.section .sort {
	color:#808080;
	font:11px Arial;
	padding:6px 0 0 5px;
}

/* Profile Star Rating */
.section div.star-rating,
.section div.star-rating a {background:url("../i/profile_rating_star.png") 0 0 no-repeat;}
.section div.star-rating a:hover,
.section div.star-rating-hover a {background-position:0 -32px;}
.section .star-rating-control {padding:2px 0 3px 19px; display:block;}
.section .star-rating-control:after {
	content:"";
	clear:both;
	display:block;
}

/* User Profile */
/* 01.07.2013 */
.profile_block {
	padding:10px 10px 0 50px;
}
.profile_block .box-180 {
	width:180px;
	float:left;
}
.profile_block .box-480 {
	width:460px;
	float:left;
}
.profile_block .but_box {
	float:right;
}
.profile_block .but_box .profile_button {
	float:right;
	margin-left:20px;
}
.profile_block .user_name h1 {
	float:left;
	padding-left:180px;
}
.profile_block .user_name .service {
	background-color:#06C;
	height:20px;
	float:left;
	margin:-4px 0 0 8px;
	width:20px;
}
.profile_block .user_name .service._fb {
	background:url("../temp/fb_icon.png") 0 0 no-repeat;
}
.profile_block .user_name:after {
	content:"";
	clear:both;
	display:block;
	height:15px;
}
/* photo */
.user_photo {
	background-color:#FFF;
	background-image: url("../i/nouserphoto.png");
	background-position:50% 50%;
	background-repeat:no-repeat;
	border:1px solid #F6E9D0;
	height:98px;
	overflow:hidden;
	margin-left:50px;
	position:relative;
	width:98px;
}
.user_photo .change {
	background:url("../i/photo_spacer.png") 0 0 repeat;
	bottom:0;
	color:#FFF;
	cursor:pointer;
	font:12px/20px Arial, Helvetica;
	height:40px;
	left:0;
	padding-left:4px;
	position:absolute;
	width:94px;
	opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
	filter:alpha(opacity=0);
	transition:opacity 0.6s;
	-moz-transition:opacity 0.6s;
	-webkit-transition:opacity 0.6s;
	-o-transition:opacity 0.6s;
}
.user_photo .change div {
	opacity:0.7;
	-moz-opacity:0.7;
	-webkit-opacity:0.7;
	filter:alpha(opacity=70);
}
.user_photo .change ._icon {
	background:url("../i/changephoto_icon.png") 0 -12px no-repeat;
	height:12px;
	float:right;
	margin:4px;
	width:16px;
}
.user_photo .change .load ._icon {
	background-position:0 0;
}
/* status */
.user_status {
	background-color:#FAF5E9;
	border:1px solid #F6E9D0;
	border-radius:8px;
	color:#8a7a5d;
	font:italic 12px/19px Arial, Helvetica;
	min-height:54px;
	margin:0 0 20px;
	padding:5px 15px 8px;
	position:relative;
	width:398px;
}
.user_status span {
	display:block;
	max-height:111px;
	overflow:hidden;
}
.user_status._empty {color:#b8aa90;}
.user_status .change {
	background:url("../i/pen_icon.png") 0 0 no-repeat;
	cursor:pointer;
	height:12px;
	opacity:0.5;
	-moz-opacity:0.5;
	-webkit-opacity:0.5;
	filter:alpha(opacity=50);
	position:absolute;
	right:4px;
	top:4px;
	width:13px;
}
.user_status .pointer {
	background:url("../i/status_pointer.png") 0 0 no-repeat;
	height:18px;
	position:absolute;
	left:-30px;
	top:36px;
	width:30px;
}
.user_status .fade {
	background:url("../i/user_status_fade.png") 0 0 repeat-x;
	height:24px;
	position: absolute;
	left:0;
	bottom:0;
	width:100%;
	z-index:50;
}
.status_field {
	background-color:#FFF;
	border:1px solid #ebebeb;
	box-shadow:#BDBDBD 0 10px 40px;
	color:#3C3CD3C;
	padding-bottom:9px;
	position:absolute;
	left:-11px;
	top:-11px;
	z-index:100;
	opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
	visibility:hidden;
	transition:opacity 0.5s, visibility 0.5s;
	-moz-transition:opacity 0.5s, visibility 0.5s;
	-webkit-transition:opacity 0.5s, visibility 0.5s;
	-o-transition:opacity 0.5s, visibility 0.5s;
}
.status_field textarea {
	border:1px solid #989898;
	font:italic 12px/19px Arial, Helvetica;
	height:93px;
	margin:9px;
	padding:5px 15px 8px;
	width:398px;
}
.status_field ._close {
	background: url("../i/gr_close.png") 0 0 no-repeat;
	cursor:pointer;
	height:20px;
	left:9px;
	opacity:0.3;
	-moz-opacity:0.3;
	-webkit-opacity:0.3;
	filter:alpha(opacity=30);
	position:absolute;
	bottom:11px;
	transition:opacity 0.4s;
	-moz-transition:opacity 0.4s;
	-webkit-transition:opacity 0.4s;
	-o-transition:opacity 0.4s;
	width:20px;
}
.status_field ._close:hover {
	opacity:1;
	-moz-opacity:1;
	-webkit-opacity:1;
	filter:alpha(opacity=100);
}
.status_field .profile_button {
	margin:0 auto;
}
.status_field .counter {
	bottom:26px;
	left:auto;
	right:9px;
}
.profile_verify {
	background:url("../i/verify_icon.png") 0 0 no-repeat;
	color:#808080;
	font:12px/12px Arial, Helvetica;
	padding:0 0 10px 16px;
}
/* buttons */
.profile_button:hover {
	background-color:#ebeded;
	border-color:#bbb;
}
.profile_button:active {
	background-color:#FFEB8F;
	border-color:#e9d6a7;
	box-shadow:inset #cbbb71 0 3px 6px;
}
.profile_button {
	background-color:#f1f3f3;
	border:1px solid #CCC;
	border-radius:3px;
	color:#3C3C3C !important;
	cursor:pointer;
	display:block;
	font-family:Arial, Helvetica;
	font-size:13px;
	font-style:normal;
	height:28px;
	line-height:28px;
	position:relative;
	text-align:center;
	text-decoration:none;
	text-shadow:#EEE 0 1px 0;
	width:108px;
	white-space:nowrap;
}
.profile_button[disabled]:hover,
.profile_button[disabled]:active {
	color:#999 !important;
	background-color:#f1f3f3;
	border-color:#CCC;
	box-shadow:none;
}

.profile_button[disabled] {color:#999 !important; cursor:default;}
.profile_button._mid {
	font-size:12px;
	height:25px;
	line-height:25px;
	width:93px;
}
.profile_button._min {
	font-size:11px;
	height:23px;
	line-height:23px;
	width:78px;
}
.profile_button._user {
	display:inline-block;
	max-width:300px;
	overflow:hidden;
	padding:0 7px 0 34px;
	text-overflow:ellipsis;
	width:auto;
}
.profile_button ._icon {
	background:url("../i/newmessages_icon.png") -1px -1px no-repeat;
	height:14px;
	left:-8px;
	position:absolute;
	top:-6px;
	width:20px;
}
.profile_button ._userpic {
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	border-radius:3px;
	height:22px;
	left:4px;
	position:absolute;
	top:3px;
	width:22px;
}
.profile_button._important {
	background-color:#fff2b9;
	border-color:#f9e484;
}
.profile_button._important:hover {
	background-color:#ffeca2;
	border-color:#e9d633;
}
.profile_button._important:active {
	background-color:#ffeb8f;
	border-color:#e9d6a7;
}
.profile_button._important[disabled] {
	background-color:#F7F7F7;
	border-color:#E8E8E8;
}

.lovehate_block .head {
	background:#97E086 url("../i/lovehate_grad.png") 0 -100px repeat-x;
	border:1px solid #87c376;
	border-radius:6px;
	height:28px;
	margin-top:31px;
}
.lovehate_block._love .head {
	background-position:0 0;
	border-top-color:#bcf99b;
	border-bottom-color:#87c376;
	border-left-color:#9adf8a;
	border-right-color:#9adf8a;
}
.lovehate_block._hate .head {
	background-position:0 -28px;
	border-top-color:#ffc8c8;
	border-bottom-color:#d57272;
	border-left-color:#f39393;
	border-right-color:#f39393;
}
.lovehate_block .mode {
	margin:0 0 0 40px;
	width:100px;
}

.lovehate_block._love .title._love {background-position:2px 5px;}
.lovehate_block._love .title._hate {background-position:2px -109px; top:2px;}
.lovehate_block._hate .title._love {background-position:2px -131px; top:30px;}
.lovehate_block._hate .title._hate {background-position:2px -87px; top:-28px;}

.lovehate_block .mode a {text-decoration:none;}

.lovehate_block._love .title._love a,
.lovehate_block._hate .title._hate a {border-bottom:0 solid;color:#000;cursor:default;}
.lovehate_block._love .title._hate a {border-bottom:1px dotted;color:#e52828;}
.lovehate_block._hate .title._love a {border-bottom:1px dotted;color:#1f9c12;}
.lovehate_block._love .title._hate a:hover {color:#b90000;}
.lovehate_block._hate .title._love a:hover {color:#0a6900;}


.lovehate_block .body {
	display:none;
	padding:0 10px 20px 170px;
}
.lovehate_block .body:after {
	content:"";
	display:block;
	clear:both;
}
.lovehate_block._love .body._love_show,
.lovehate_block._hate .body._hate_show {display:block;}

.lovehate_block .box-230 {
	/*background:#090;*/
	float:left;
	min-height:100px;
	margin:-29px 10px 0 25px;
	width:205px;
}
.lovehate_block .title {
	background:url("../i/lovehate_icons.png") -100px 0 no-repeat;
	font:14px/28px Arial, Helvetica;
	height:28px;
	margin-left:-25px;
	padding:0 0 0 25px;
	position:relative;
	color:#000;
	text-shadow:#f6f6f6 0 1px 0;
}
.lovehate_block .title._movie {background-position:0 -18px;}
.lovehate_block .title._games {background-position:0 -41px;}
.lovehate_block .title._critics {background-position:0 -64px;}

.lovehate_block .list {
	padding:6px 0 0;
}
.lovehate_block .list li {
	color:#808080;
	font-size:12px;
	line-height:14px;
	padding:4px 0 3px;
}
.lovehate_block .list li.dop { padding:9px 0 3px;}
.lovehate_block .list li a {color:#3C3C3C; text-decoration:none;}
.lovehate_block .list li a:hover {color:#008FBF;}

.lovehate_block .profile_button {margin:10px 0 0;}
.lovehate_block ._empty {color:#B3B3B3; font-size:26px;}

/*	Opacities */
.section._empty.over,
.section .but-s a:hover,
.section li .icons .mg-icon:hover,
.user_photo:hover .change,
.user_photo .change div:hover,
.user_status .change:hover,
.status_field.act
{
	opacity:1;
	-moz-opacity:1;
	-webkit-opacity:1;
	filter:alpha(opacity=100);
	visibility:visible;
}
/* User Settings */
/* 17.07.2013 */
.settings_header {
	padding:10px 0 0;
}
.settings_header h1 {
	float:left;
	padding:0 70px 0 220px;
}
.settings_header ._user {float:left;}
.content_sections._settings {
	background-color:#F1F3F3;
	margin-top:20px;
	min-height:200px;
}
.tabs._settings .tab {
	font:14px/40px Arial, Helvetica;
	height:40px;
	margin:0 -20px 0 0;
	text-align:center;
}
.tabs._settings .tab._current {
	background-color:#F1F3F3;
}
.tabs._settings .tab._current a {
	color:#3C3C3C;
	cursor:default;
}
.tabs._settings .tab a {
	text-decoration:none;
}

.content_sections .tab {
	color:#3C3C3C;
	font:12px Arial, Helvetica;
	margin:0 auto;
	width:690px;
}

.box-240 {
	float:left;
	width:240px;
}
.box-450 {
	float:right;
	width:450px;
}
.ec_settings input.profile_button {
	display:inline-block;
	vertical-align:top;
	height:25px;
	width:92px;
}
.ec_settings input {
	display:inline-block;
	vertical-align:top;
	margin:0 9px 4px 0;
}
.ec_settings .ec_default {
	background-color:#394042;
	border-radius:6px;
	color:#FFF;
	display:inline-block;
	height:27px;
	line-height:27px;
	margin:0 9px 4px 0;
	padding:0 10px;	
}
.ec_settings .rem {
	display:inline-block;
	position:relative;
}
.ec_settings .ec_default a {color:#8de3ff;}
.ec_settings p {
	font-size:11px;
	line-height:14px;
	padding-top:6px;
	color:#808080;
}
.ec_settings .label,
.privacy_settings .label {
	line-height:25px;
	padding-right:12px;
}
.confirm_box {
	background-color:#FFF;
	box-shadow:#BDBDBD 0 10px 40px;
	display:none;
	width:240px;
	right:0;
	top:27px;
	padding-top:4px;
	position:absolute;
	height:78px;
	text-align:center;
}
.confirm_box .profile_button {
	display:inline-block;
	margin:10px 7px 0;
	position:relative;
}
.err {color:#D30000 !important;}
.confirm {color:#00a900 !important;}
.input_text {
	border:1px solid #989898;
	box-shadow:inset #E1E1E1 0 1px;
	font:12px/23px Arial, Helvetica;
	height:23px;
	padding:0 5px;
	width:246px;
}
.input_text.nof, .input_text.placeholder {color:#ACACAC;}

.privacy_settings {position:relative; overflow:hidden;}
.privacy_settings h2 {
	color:#808080;
	font-size:26px;
	font-weight:200;
	line-height:26px;
	margin-bottom:10px;
}
.privacy_settings .box {
	background:url("../i/privacy_icons.png") -100px 0 no-repeat;
	float:left;
	height:30px;
	line-height:30px;
}
.privacy_settings .box input {visibility:hidden;}
.privacy_settings .box-item {
	background:url("../i/privacy_border.png") 100% 100% no-repeat;
	height:30px;
}
.box-item.head .box {
	color:#808080;
	font-size:11px;
	line-height:34px;
	text-align:center;
}
.box._p-name {
	width:208px;
	margin-left:20px;
	padding:0 12px 0 0;
	text-align:right;
}
.box._p-all {width:220px;}
.box._p-all.def:hover {background-position:50% -31px;}
.box._p-all.check {background-position:50% 0;}

.box._p-all.def:hover,
.box._p-me.def:hover {
	background-color:#ddecf1;
	height:31px;
	margin-top:-1px;
	cursor:pointer;
	position:relative;
}
.box._p-me {width:230px;}
.box._p-me.def:hover {background-position:50% -93px;}
.box._p-me.check {background-position:50% -62px;}

.input_check {
	background:url("../i/checkboxes.png") 0 -18px no-repeat;
	cursor:pointer;
	display:block;
	height:18px;
	width:18px;
}
.input_check input {visibility:hidden;}
.input_check:active {background-position:-18px -18px;}
.input_check.check {background-position:0 0;}
.input_check.check:active {background-position:-18px 0;}
.privacy_settings .input_check {
	display:inline-block;
	margin:3px 5px 0 0;
}
.privacy_settings .label._msg {
	color:#808080;
	display:inline-block;
	vertical-align:top;
}
.privacy_settings .profile_button {
	float:left;
	margin-right:20px;
}
@-moz-document url-prefix() {
   input[type="submit"].profile_button {padding-bottom:2px;}
}
.privacy_settings .howtosee {
	font-size:11px;
	line-height:29px;
}
/*.fade_border {
	background-color: transparent;
	height:1000px;
	left:20px;
	top:0;
	position:absolute;
	width:88px;
	background: -moz-linear-gradient(left,  rgba(241,243,243,1) 0%, rgba(241,243,243,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(241,243,243,1)), color-stop(100%,rgba(241,243,243,0)));
	background: -webkit-linear-gradient(left,  rgba(241,243,243,1) 0%,rgba(241,243,243,0) 100%);
	background: -o-linear-gradient(left,  rgba(241,243,243,1) 0%,rgba(241,243,243,0) 100%);
	background: -ms-linear-gradient(left,  rgba(241,243,243,1) 0%,rgba(241,243,243,0) 100%);
	background: linear-gradient(to right,  rgba(241,243,243,1) 0%,rgba(241,243,243,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f3f3', endColorstr='#00f1f3f3',GradientType=1 );
}*/












