<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><title>Критиканство &#8212; Пользователь Константин Константинопольский</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=1061" />
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="apple-touch-icon" href="apple-touch-icon.png" /><!-- 144x114 -->
<link rel="shortcut icon" href="favicon.ico" />

<link rel="stylesheet" type="text/css"  href="css/main.css" />
<link rel="stylesheet" type="text/css" href="css/profile.css" />

<script type="text/javascript" src="js/jquery.1.8.2.min.js"></script>
<script type="text/javascript" src="js/jquery.qtip.min.js"></script>
<!--script type="text/javascript" src="js/jquery.color.js"></script>
<script type="text/javascript" src="js/css_browser_selector.js"></script-->
<script type="text/javascript">
// Qtip
$(document).ready(function()
	{$('[title]').qtip({position: {my: 'bottom center', at: 'top center', adjust: {x: 12, y: -6}}});}
);
</script>

</head><body>




<!-- ============== TOP ============== -->
<div class="userbar clearfix">
	<div class="guest_wrap">
		<a href="#" class="guest_login"><span>Вход на сайт</span></a>
		<a href="#" class="button_add" title="Добавить ссылку на рецензию">Добавить&nbsp;<b>&#43;</b></a>
	</div>
</div>

<div class="menu clearfix">
	<a href="#"><img src="i/logo.png" alt="" class="logo"></a>
	<div class="search">
		<form id="searchForm"><fieldset><input type="text" name="s" id="s" value=""><input type="submit" id="search_submit" value="OK"></fieldset></form>
	</div>
	<div id="tabs">
		<ul>
		<li><a href="javascript:void(0)" id="tab_first" class="active" onmouseover="$('[id*=subtabs_]').hide(); $('#subtabs_first').show();">Фильмы</a></li>
		<li><a href="#" id="tab_second" class="" onmouseover="$('[id*=subtabs_]').hide(); $('#subtabs_second').show();">Игры</a></li>
		<li><a href="#" id="tab_third" class="" onmouseover="$('[id*=subtabs_]').hide(); $('#subtabs_third').show();">Критики</a></li>
		<li><a href="#" id="tab_fourth" class="" onmouseover="$('[id*=subtabs_]').hide(); $('#subtabs_fourth').show();">Блог</a></li>
		</ul>
	</div>
</div>

<div class="submenu">
	<div style="display: block;" id="subtabs_first">
		<ul><li><a href="#" class="">Скоро в прокате</a></li><li><a href="#" class="">Лучшие и худшие за год</a></li><li><a href="#" class="">Лучшие и худшие за всё время</a></li><li><a href="#" class="">Выбор пользователей</a></li><li><a href="#" class="">Кассовые сборы</a></li></ul>
	</div>
	<div style="display: none;" id="subtabs_second" onmouseover="$('#tab_second').addClass('subtabs_hover');" onmouseout="$('#tab_second').removeClass('subtabs_hover');">
		<ul><li><a href="#" class="">Скоро в продаже</a></li><li><a href="#" class="">Лучшие и худшие за год</a></li><li><a href="#" class="">Лучшие и худшие за всё время</a></li><li><a href="#" class="">Выбор пользователей</a></li><li><a href="#" class="">Рейтинги продаж</a></li></ul>
	</div>
	<div style="display: none;" id="subtabs_third" onmouseover="$('#tab_third').addClass('subtabs_hover');" onmouseout="$('#tab_third').removeClass('subtabs_hover');">
		<ul><li><a href="#" class="">Лучшие и худшие критики</a></li><li><a href="#" class="">Лучшие и худшие издания</a></li><li><a href="#" class="">Рейтинг &laquo;мудрецов&raquo;</a></li><li><a href="#" class="">Самые активные критики</a></li></ul>
	</div>
	<div style="display: none;" id="subtabs_fourth" onmouseover="$('#tab_fourth').addClass('subtabs_hover');" onmouseout="$('#tab_fourth').removeClass('subtabs_hover');">
		<ul><li><a href="#" class="">Архив записей</a></li><li><a href="#" class="">Комментарии</a></li></ul>
	</div>
	<div style="display: none;" id="subtabs_slogan">Последний шанс для объективной критики</div>
</div>
<!-- ============== // TOP ============== -->



<!-- ============== CONTENT ============== -->
<div class="content clearfix">
	<div class="section subs">
    	<div class="head"><h2>Мои подписки</h2><span class="icon-head">&nbsp;</span></div>
        <div class="body">
        	<div class="sub-title">Новые рецензии и оценки</div>
        	<div class="critics">
            	<div class="c-name user"><a href="#">Иван Иванов</a></div>
                <ul class="list extend">
                	<li>
                		<div class="mg-name"><span class="ic movie"></span><a href="#">Кадры&nbsp;<span class="user-grade r-bad">5/10</span></a></div>
                    	<div class="clr"></div>
                    </li>
                    <li>
                        <div class="mg-name">
                        	<span class="ic game"></span>
                            <a href="#">Пираты Карибского моря: Проклятие Черной жемчужины&nbsp;<span class="user-grade r-good">9/10</span></a>
                        </div>
                        <div class="clr"></div>
                    </li>
                    <li>
                        <div class="mg-name"><span class="ic game"></span><a href="#">Fire Emblem: Awakening&nbsp;<span class="user-grade r-none">1/10</span></a></div>
                        <div class="clr"></div>
                    </li>
                </ul>
            </div>
            <div class="critics">
            	<div class="c-name critic"><a href="#">Ведомости</a></div>
                <ul class="list extend">
                	<li>
                		<div class="mg-name"><span class="ic movie"></span><a href="#">Приключения мистера Пибоди и Шермана&nbsp;<span class="site-grade r-bad">2/10</span></a>
                        <span> и еще <a href="javascript:void(0);" class="anchor">24 рецензии</a></span></div>
                    	<div class="clr"></div>
                	</li>
                </ul>
            </div>
            <div class="critics">
            	<div class="c-name critic"><a href="#">Алекс Экслер</a></div>
                <ul class="list extend">
                	<li>
                        <div class="mg-name"><span class="ic game"></span><a href="#">GRID 2&nbsp;<span class="site-grade r-good">10/10</span></a></div>
                        <div class="clr"></div>
                    </li>
                    <li>
                        <div class="mg-name"><span class="ic movie"></span><a href="#">Завещание&nbsp;<span class="site-grade r-awful">Так себе</span></a></div>
                        <div class="clr"></div>
                    </li>
                    <li>
                        <div class="mg-name"><span class="ic game"></span><a href="#">Fire Emblem: Awakening&nbsp;<span class="user-grade r-average">6/10</span></a></div>
                        <div class="clr"></div>
                    </li>
                </ul>
            </div>
            <div class="sub-title">19 июня и ранее</div>
        </div>
        <div class="foot">
        	<div class="help">Свободно 96</div>
        	<a href="#" class="anchor more">Больше обновлений</a>
            <div class="but-s">
            	<a href="#" class="rss" title="RSS"></a>
                <a href="#" class="set" title="Управление подписками"></a>
            </div>
        </div>
    </div>
    <div class="section favs">
    	<div class="head"><h2>Моё избранное</h2><span class="icon-head">&nbsp;</span></div>
        <div class="body">
        	<ul class="list">
            	<li>
                	<div class="mg-name"><span class="ic movie"></span><a href="#">Призраки в Коннектикуте - 2: Тени злоебучего прошлого</a></div>
                    <div class="icons">
                    	<div class="site-grade r-average">75</div>
                    	<div class="mg-del"></div>
                        <div class="user-grade r-good">10/10</div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                	<div class="mg-name"><span class="ic game"></span><a href="#">Remember Me</a></div>
                    <div class="icons">
                    	<div class="site-grade r-good">100</div>
                    	<div class="mg-del"></div>
                        <div class="user-grade r-average">8/10</div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                	<div class="mg-name"><span class="ic game"></span><a href="#">Fire Emblem: Awakening</a></div>
                    <div class="icons">
                    	<div class="site-grade r-bad">32</div>
                    	<div class="mg-del"></div>
                        <div class="user-grade r-good">9/10</div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                	<div class="mg-name"><span class="ic movie"></span><a href="#">10 вещей, которые я ненавижу в жизни</a></div>
                    <div class="icons">
                    	<div class="site-grade r-none">-</div>
                    	<div class="mg-del"></div>
                        <div class="user-grade r-average">8/10</div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                	<div class="mg-name"><span class="ic movie"></span><a href="#">Приключения мистера Пибоди и Шермана</a></div>
                    <div class="icons">
                    	<div class="site-grade r-good">92</div>
                    	<div class="mg-del"></div>
                        <div class="user-grade r-bad">6/10</div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                	<div class="mg-name"><span class="ic game"></span><a href="#">GRID 2</a></div>
                    <div class="icons">
                    	<div class="site-grade r-awful">5</div>
                    	<div class="mg-del"></div>
                        <div class="user-grade r-average">8/10</div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                	<div class="mg-name"><span class="ic movie"></span><a href="#">Завещание</a></div>
                    <div class="icons">
                    	<div class="site-grade r-average">71</div>
                    	<div class="mg-del"></div>
                        <div class="user-grade r-average">8/10</div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                	<div class="mg-name"><span class="ic game"></span><a href="#">Fire Emblem: Awakening</a></div>
                    <div class="icons">
                    	<div class="site-grade r-good">95</div>
                    	<div class="mg-del"></div>
                        <div class="user-grade r-average">7/10</div>
                    </div>
                    <div class="clr"></div>
                </li>
            </ul>
        </div>
        <div class="foot">
        	<div class="help">16/52</div>
        	<a href="#" class="anchor more">Больше избранного</a>
        </div>
    </div>
    <div class="section comm">
    	<div class="head"><h2>Мои комментарии</h2><span class="icon-head">&nbsp;</span></div>
        <div class="body">
            <ul class="list">
            	<li>
                	<div class="mg-name"><span class="ic blog"></span><a href="#">Стартрек: Возмездие «Кинокадра»</a></div>
                    <div class="icons">
                    	<div class="user-comm new"><a href="#">92</a></div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                	<div class="mg-name"><span class="ic review"></span><a href="#">Андрей Подшибякин — Doom 3</a></div>
                    <div class="icons">
                        <div class="user-comm new"><a href="#">200</a></div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                	<div class="mg-name"><span class="ic critic"></span><a href="#">Ведомости</a></div>
                    <div class="icons">
                        <div class="user-comm"><a href="#">5</a></div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                	<div class="mg-name"><span class="ic critic"></span><a href="#">Лидия Маслова</a></div>
                    <div class="icons">
                        <div class="user-comm"><a href="#">143</a></div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                	<div class="mg-name"><span class="ic movie"></span><a href="#">Приключения мистера Пибоди и злоебучего Шермана</a></div>
                    <div class="icons">
                        <div class="user-comm"><a href="#">1</a></div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                	<div class="mg-name"><span class="ic game"></span><a href="#">Prime World: Defenders</a></div>
                    <div class="icons">
                        <div class="user-comm"><a href="#">13</a></div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                	<div class="mg-name"><span class="ic wisdom"></span><a href="#">Алекс Экслер — Властелин колец: Братство Кольца</a></div>
                    <div class="icons">
                        <div class="user-comm"><a href="#">51</a></div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                	<div class="mg-name"><span class="ic critic"></span><a href="#">Лидия Маслова</a></div>
                    <div class="icons">
                        <div class="user-comm"><a href="#">12</a></div>
                    </div>
                    <div class="clr"></div>
                </li>
            </ul>
        </div>
        <div class="foot">
        	<div class="help">15/1437</div>
        	<a href="#" class="anchor more">Больше комментариев</a>
        </div>
    </div>
    <div class="section grades">
    	<div class="head"><h2>Мои оценки</h2><span class="icon-head">&nbsp;</span></div>
        <div class="body">
        	<ul class="list">
            	<li>
                	<div class="mg-name"><span class="ic movie"></span><a href="#">Призраки в Коннектикуте - 2: Тени злоебучего прошлого</a></div>
                    <div class="icons">
                        <div class="user-grade r-good">10/10</div>
                        <div class="site-grade r-average">75</div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                	<div class="mg-name"><span class="ic game"></span><a href="#">Remember Me</a></div>
                    <div class="icons">
                        <div class="user-grade r-average">8/10</div>
                        <div class="site-grade r-good">100</div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                	<div class="mg-name"><span class="ic game"></span><a href="#">Fire Emblem: Awakening</a></div>
                    <div class="icons">
                        <div class="user-grade r-good">9/10</div>
                        <div class="site-grade r-bad">32</div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                	<div class="mg-name"><span class="ic movie"></span><a href="#">10 вещей, которые я ненавижу в жизни</a></div>
                    <div class="icons">
                        <div class="user-grade r-average">8/10</div>
                        <div class="site-grade r-none">-</div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                	<div class="mg-name"><span class="ic movie"></span><a href="#">Приключения мистера Пибоди и Шермана</a></div>
                    <div class="icons">
                        <div class="user-grade r-bad">6/10</div>
                        <div class="site-grade r-good">92</div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                	<div class="mg-name"><span class="ic game"></span><a href="#">GRID 2</a></div>
                    <div class="icons">
                        <div class="user-grade r-average">8/10</div>
                        <div class="site-grade r-awful">5</div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                	<div class="mg-name"><span class="ic movie"></span><a href="#">Завещание</a></div>
                    <div class="icons">
                        <div class="user-grade r-average">8/10</div>
                        <div class="site-grade r-average">71</div>
                    </div>
                    <div class="clr"></div>
                </li>
                <li>
                	<div class="mg-name"><span class="ic game"></span><a href="#">Fire Emblem: Awakening</a></div>
                    <div class="icons">
                        <div class="user-grade r-average">7/10</div>
                        <div class="site-grade r-good">95</div>
                    </div>
                    <div class="clr"></div>
                </li>
            </ul>
        </div>
        <div class="foot">
        	<div class="help">16/453</div>
        	<a href="#" class="anchor more">Больше оценок</a>
        </div>
    </div>
</div>
<!-- ============== // CONTENT ============== -->



<!-- ============== FOOTER ============== -->
<div class="footer clearfix">
	<div class="left">
		<p>&copy; 2012 <span>Критиканство</span></p>
		<p>Электронная почта: <a href="mailto:mail@kritikanstvo.ru">mail@kritikanstvo.ru</a></p>
		<p><a href="#">О проекте</a></p>
	</div>
	<div class="left">
		<p>На сайте используются материалы <a href="http://www.rottentomatoes.com" target="_blank" title="Откроется в новом окне">Rotten Tomatoes</a>, <a href="http://www.gamerankings.com" target="_blank" title="Откроется в новом окне">GameRankings</a> и других ресурсов.</p>
	</div>
	<div class="right"><p>Создание сайта: <a href="http://www.kino-govno.com" target="_blank" title="Откроется в новом окне">КГ.Дизайн</a></p></div>
</div>
<!-- ============== // FOOTER ============== -->



</body></html>











