<div class="temp_box" style="display:none;">
	<li>
        <div class="mg-name"><span class="ic movie"></span><a href="#">10 вещей, которые я ненавижу в жизни</a></div>
        <div class="icons">
            <div class="user-grade r-average">8/10</div>
        </div>
        <div class="clr"></div>
    </li>
    <li>
        <div class="mg-name"><span class="ic game"></span><a href="#">Remember Me</a></div>
        <div class="icons">
            <div class="user-grade r-average">8/10</div>
        </div>
        <div class="clr"></div>
    </li>
    <li>
        <div class="mg-name"><span class="ic game"></span><a href="#">Fire Emblem: Awakening</a></div>
        <div class="icons">
            <div class="user-grade r-good">9/10</div>
        </div>
        <div class="clr"></div>
    </li>
    <li>
        <div class="mg-name"><span class="ic game"></span><a href="#">GRID 2</a></div>
        <div class="icons">
            <div class="user-grade r-average">8/10</div>
        </div>
        <div class="clr"></div>
    </li>
    <li>
        <div class="mg-name"><span class="ic movie"></span><a href="#">Приключения мистера Пибоди и Шермана</a></div>
        <div class="icons">
            <div class="user-grade r-bad">6/10</div>
        </div>
        <div class="clr"></div>
    </li>
    <li>
        <div class="mg-name"><span class="ic game"></span><a href="#">Fire Emblem: Awakening</a></div>
        <div class="icons">
            <div class="user-grade r-average">7/10</div>
        </div>
        <div class="clr"></div>
    </li>
    <li>
        <div class="mg-name"><span class="ic movie"></span><a href="#">Завещание</a></div>
        <div class="icons">
            <div class="user-grade r-average">8/10</div>
        </div>
        <div class="clr"></div>
    </li>
</div>
<div class="temp_box2">
Сортировать по проставлению, <a href="javascript:void(0);" class="anchor" onClick="sectTab.call(this);">по имени</a>, <a href="javascript:void(0);" class="anchor" onClick="sectTab.call(this);">по названию</a>, <a href="javascript:void(0);" class="anchor" onClick="sectTab.call(this);">по оценке</a>
</div>
<div class="temp_box3">
	<div class="c-name user"><a href="#">Иван Иванов</a></div>
    <ul class="list extend">
        <li>
            <div class="mg-name"><span class="ic movie"></span><a href="#">Кадры&nbsp;<span class="user-grade r-bad"><span>5/10</span></span></a></div>
            <div class="clr"></div>
        </li>
        <li>
            <div class="mg-name">
                <span class="ic game"></span>
                <a href="#">Пираты Карибского моря: Проклятие Черной жемчужины&nbsp;<span class="user-grade r-good"><span>9/10</span></span></a>
            </div>
            <div class="clr"></div>
        </li>
        <li>
            <div class="mg-name"><span class="ic game"></span><a href="#">Fire Emblem: Awakening&nbsp;<span class="user-grade r-none"><span>1/10</span></span></a></div>
            <div class="clr"></div>
        </li>
    </ul>
</div>
