<div class="temp_box" style="display:none;">
    <li>
        <div class="mg-name"><span class="ic game"></span><a href="#">GRID 2&nbsp;<span class="site-grade r-good"><span>10/10</span></span></a></div>
        <div class="clr"></div>
    </li>
    <li>
        <div class="mg-name"><span class="ic movie"></span><a href="#">Завещание&nbsp;<span class="site-grade r-awful"><span>Так себе</span></span></a></div>
        <div class="clr"></div>
    </li>
    <li>
        <div class="mg-name"><span class="ic game"></span><a href="#">Fire Emblem: Awakening&nbsp;<span class="user-grade r-average"><span>6/10</span></span></a></div>
        <div class="clr"></div>
    </li>
</div>
