<!DOCTYPE html>
<html><head><title>Настройки Пользователь Константин Константинопольский</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=1061" />
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="apple-touch-icon" href="apple-touch-icon.png" /><!-- 144x114 -->
<link rel="shortcut icon" href="favicon.ico" />

<link rel="stylesheet" type="text/css"  href="css/main.css" />
<link rel="stylesheet" type="text/css" href="css/profile.css" />

<script type="text/javascript" src="js/jquery.1.8.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.qtip.min.js"></script>
<script type="text/javascript" src="js/charCount.js"></script>
<script type="text/javascript" src="profile_js.js"></script>
<script type="text/javascript" src="js/main_form.js"></script>
<!--script type="text/javascript" src="js/jquery.color.js"></script>
<script type="text/javascript" src="js/css_browser_selector.js"></script-->
<script type="text/javascript">
// Qtip
$(document).ready(function(){
	$('[title]').qtip({
		position: {
			my: 'bottom center',
			at: 'top center', 
			adjust: {x: 12, y: -6}
		}
	});
});
</script>

</head><body>




<!-- ============== TOP ============== -->
<div class="userbar clearfix">
	<div class="guest_wrap">
		<a href="#" class="guest_login"><span>Вход на сайт</span></a>
		<a href="#" class="button_add" title="Добавить ссылку на рецензию">Добавить&nbsp;<b>&#43;</b></a>
	</div>
</div>

<div class="menu clearfix">
	<a href="#"><img src="i/logo.png" alt="" class="logo"></a>
	<div class="search">
		<form id="searchForm"><fieldset><input type="text" name="s" id="s" value=""><input type="submit" id="search_submit" value="OK"></fieldset></form>
	</div>
	<div id="tabs">
		<ul>
            <li><a href="javascript:void(0)" id="tab_first" class="active" onmouseover="$('[id*=subtabs_]').hide(); $('#subtabs_first').show();">Фильмы</a></li>
            <li><a href="#" id="tab_second" class="" onmouseover="$('[id*=subtabs_]').hide(); $('#subtabs_second').show();">Игры</a></li>
            <li><a href="#" id="tab_third" class="" onmouseover="$('[id*=subtabs_]').hide(); $('#subtabs_third').show();">Критики</a></li>
            <li><a href="#" id="tab_fourth" class="" onmouseover="$('[id*=subtabs_]').hide(); $('#subtabs_fourth').show();">Блог</a></li>
		</ul>
	</div>
</div>

<div class="submenu">
	<div style="display: block;" id="subtabs_first">
		<ul><li><a href="#" class="">Скоро в прокате</a></li><li><a href="#" class="">Лучшие и худшие за год</a></li><li><a href="#" class="">Лучшие и худшие за всё время</a></li><li><a href="#" class="">Выбор пользователей</a></li><li><a href="#" class="">Кассовые сборы</a></li></ul>
	</div>
	<div style="display: none;" id="subtabs_second" onmouseover="$('#tab_second').addClass('subtabs_hover');" onmouseout="$('#tab_second').removeClass('subtabs_hover');">
		<ul><li><a href="#" class="">Скоро в продаже</a></li><li><a href="#" class="">Лучшие и худшие за год</a></li><li><a href="#" class="">Лучшие и худшие за всё время</a></li><li><a href="#" class="">Выбор пользователей</a></li><li><a href="#" class="">Рейтинги продаж</a></li></ul>
	</div>
	<div style="display: none;" id="subtabs_third" onmouseover="$('#tab_third').addClass('subtabs_hover');" onmouseout="$('#tab_third').removeClass('subtabs_hover');">
		<ul><li><a href="#" class="">Лучшие и худшие критики</a></li><li><a href="#" class="">Лучшие и худшие издания</a></li><li><a href="#" class="">Рейтинг &laquo;мудрецов&raquo;</a></li><li><a href="#" class="">Самые активные критики</a></li></ul>
	</div>
	<div style="display: none;" id="subtabs_fourth" onmouseover="$('#tab_fourth').addClass('subtabs_hover');" onmouseout="$('#tab_fourth').removeClass('subtabs_hover');">
		<ul><li><a href="#" class="">Архив записей</a></li><li><a href="#" class="">Комментарии</a></li></ul>
	</div>
	<div style="display: none;" id="subtabs_slogan">Последний шанс для объективной критики</div>
</div>
<!-- ============== // TOP ============== -->



<!-- ============== CONTENT ============== -->
<div class="content clearfix">
	<div class="settings_header">
    	<h1>Мои настройки</h1>
        <a class="profile_button _user" href="#">Константин Константинопольский<span class="_userpic" style="background-image:url(temp/photo4.jpg);"></span></a>
    </div>
	<div class="clr"></div>
	<div class="a_content">
    	<div class="tabs _settings">
        	<div class="tab _current"><a href="#settings_privacy">Настройки и приватность</a></div>
            <div class="tab"><a href="#">Управление подписками</a></div>
            <div class="tab"><a href="#">Любимое и нелюбимое</a></div>
        </div>
    </div>
	<div class="content_sections _settings">
    	<div id="settings_privacy" class="tab">
        	<div class="_sp30"></div>
            <div class="ec_settings">
            	<div class="box-240 ta-r"><span class="label">Электронная почта</span></div>
                <div class="box-450">
                	<form name="add_email" action="#" method="get">
                		<input type="text" name="emaril_setting" class="input_text clearonfocus" data-placeholder-text="mail@example.com" value=""/>
                    	<input type="submit" value="Добавить" class="profile_button"/>
                    </form>
                    <div class="ec_default">konstantin@konstantinopolsky.ru</div>
                    <div class="rem">
                    	<a href="javascript:void(0);" class="anchor remove">Удалить адрес</a>
                        <div class="confirm_box">
                            <p>Адрес электронной почты, привязанный к вашему профилю, будет удален.</p>
                            <a class="profile_button _min delete" href="#">Удалить</a>
                            <a class="profile_button _min abort" href="#">Отмена</a>
                        </div>
                    </div>
                    <p class="confirm">Адрес успешно подтвержден.</p>
                    <p class="err">Адрес уже используется, либо введен неверно. Введите другой адрес.</p>
                    <p class="help">На указанный адрес будут приходить уведомления о новых личных сообщениях. Также 
                    он может понадобиться при восстановлении вашей учетной записи.</p>
                    <p class="help">На указанный адрес было отправлено письмо со ссылкой для подтверждения. <a href="#">Отправить письмо повторно.</a></p>
                </div>
            </div>
            <div class="clr _sp30 _bb"></div>
            <div class="privacy_settings">
                <div class="box-item">
                	<div class="box _p-name">Мои подписки</div>
                    <div class="box _p-all"></div>
                    <div class="box _p-me"></div>
                </div>
                <div class="box-item">
                    <div class="box _p-name">Мое избранное</div>
                    <div class="box _p-all"></div>
                    <div class="box _p-me"></div>
                </div>
                <div class="box-item">
                    <div class="box _p-name">Мои комментарии</div>
                    <div class="box _p-all"></div>
                    <div class="box _p-me"></div>
                </div>
                <div class="box-item">
                    <div class="box _p-name">Мои оценки фильмов</div>
                    <div class="box _p-all"></div>
                    <div class="box _p-me"></div>
                </div>
                <div class="box-item">
                    <div class="box _p-name">Мои оценки игр</div>
                    <div class="box _p-all"></div>
                    <div class="box _p-me"></div>
                </div>
                <div class="box-item">
                    <div class="box _p-name">Мое оценки критиков</div>
                    <div class="box _p-all"></div>
                    <div class="box _p-me"></div>
                </div>
            </div>
            <div class="clr _sp30 _bt"></div>
            <div class="ec_settings">
            	<div class="box-240 ta-r"><span class="label">Профиль критика</span></div>
                <div class="box-450">
                	<form name="add_critic" action="#" method="get">
                		<input type="text" name="critic_bind" class="input_text clearonfocus" data-placeholder-text="Начните вводить ваше имя" value=""/>
                    	<input type="submit" value="Связать" class="profile_button" disabled/>
                        <div class="clr"></div>
                    </form>
                    <div class="ec_default"><a href="#">Лидия Маслова</a></div>
                    <div class="rem">
                    	<a href="javascript:void(0);" class="anchor remove">Разорвать связь</a>
                        <div class="confirm_box">
                    		<p>Связь вашего профиля с вашей страницей критика будет разорвана.</p>
                        	<a class="profile_button _min delete" href="#">Разорвать</a>
                        	<a class="profile_button _min abort" href="#">Отмена</a>
                    	</div>
                    </div>
                    <p class="confirm">Страницы пользователя и критика связаны.</p>
                    <p class="err">У этого критика уже есть связанная страница пользователя.</p>
                    <p class="help">Если вы являетесь профессиональным критиком и значитесь в базе «Критиканства»,
вы можете связать свою страницу пользователя со страницей критика. На обеих
страницах появятся соответствующие ссылки.</p>
                </div>
            </div>
            <div class="clr _sp30"></div>
        </div>
    </div>
</div>
<!-- ============== // CONTENT ============== -->



<!-- ============== FOOTER ============== -->
<div class="footer clearfix">
	<div class="left">
		<p>&copy; 2012 <span>Критиканство</span></p>
		<p>Электронная почта: <a href="mailto:mail@kritikanstvo.ru">mail@kritikanstvo.ru</a></p>
		<p><a href="#">О проекте</a></p>
	</div>
	<div class="left">
		<p>На сайте используются материалы <a href="http://www.rottentomatoes.com" target="_blank" title="Откроется в новом окне">Rotten Tomatoes</a>, <a href="http://www.gamerankings.com" target="_blank" title="Откроется в новом окне">GameRankings</a> и других ресурсов.</p>
	</div>
	<div class="right"><p>Создание сайта: <a href="http://www.kino-govno.com" target="_blank" title="Откроется в новом окне">КГ.Дизайн</a></p></div>
</div>
<!-- ============== // FOOTER ============== -->



</body></html>











