<!DOCTYPE html>
<html><head><title>Любимое и нелюбимое</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=1061" />
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="apple-touch-icon" href="apple-touch-icon.png" /><!-- 144x114 -->
<link rel="shortcut icon" href="favicon.ico" />

<link rel="stylesheet" type="text/css"  href="css/main.css" />
<link rel="stylesheet" type="text/css" href="css/profile.css" />

<script type="text/javascript" src="js/jquery.1.8.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.qtip.min.js"></script>
<script type="text/javascript" src="js/charCount.js"></script>
<script type="text/javascript" src="js/selectbox.js"></script>
<script type="text/javascript" src="profile_select.js"></script>
<script type="text/javascript" src="profile_js.js"></script>
<script type="text/javascript" src="js/main_form.js"></script>
<!--script type="text/javascript" src="js/jquery.color.js"></script>
<script type="text/javascript" src="js/css_browser_selector.js"></script-->
<script type="text/javascript">
// Qtip
$(document).ready(function(){
	$('[title]').qtip({
		position: {
			my: 'bottom center',
			at: 'top center', 
			adjust: {x: 12, y: -6}
		}
	});
});
</script>

</head><body>




<!-- ============== TOP ============== -->
<div class="userbar clearfix">
	<div class="guest_wrap">
		<a href="#" class="guest_login"><span>Вход на сайт</span></a>
		<a href="#" class="button_add" title="Добавить ссылку на рецензию">Добавить&nbsp;<b>&#43;</b></a>
	</div>
</div>

<div class="menu clearfix">
	<a href="#"><img src="i/logo.png" alt="" class="logo"></a>
	<div class="search">
		<form id="searchForm"><fieldset><input type="text" name="s" id="s" value=""><input type="submit" id="search_submit" value="OK"></fieldset></form>
	</div>
	<div id="tabs">
		<ul>
            <li><a href="javascript:void(0)" id="tab_first" class="active" onmouseover="$('[id*=subtabs_]').hide(); $('#subtabs_first').show();">Фильмы</a></li>
            <li><a href="#" id="tab_second" class="" onmouseover="$('[id*=subtabs_]').hide(); $('#subtabs_second').show();">Игры</a></li>
            <li><a href="#" id="tab_third" class="" onmouseover="$('[id*=subtabs_]').hide(); $('#subtabs_third').show();">Критики</a></li>
            <li><a href="#" id="tab_fourth" class="" onmouseover="$('[id*=subtabs_]').hide(); $('#subtabs_fourth').show();">Блог</a></li>
		</ul>
	</div>
</div>

<div class="submenu">
	<div style="display: block;" id="subtabs_first">
		<ul><li><a href="#" class="">Скоро в прокате</a></li><li><a href="#" class="">Лучшие и худшие за год</a></li><li><a href="#" class="">Лучшие и худшие за всё время</a></li><li><a href="#" class="">Выбор пользователей</a></li><li><a href="#" class="">Кассовые сборы</a></li></ul>
	</div>
	<div style="display: none;" id="subtabs_second" onmouseover="$('#tab_second').addClass('subtabs_hover');" onmouseout="$('#tab_second').removeClass('subtabs_hover');">
		<ul><li><a href="#" class="">Скоро в продаже</a></li><li><a href="#" class="">Лучшие и худшие за год</a></li><li><a href="#" class="">Лучшие и худшие за всё время</a></li><li><a href="#" class="">Выбор пользователей</a></li><li><a href="#" class="">Рейтинги продаж</a></li></ul>
	</div>
	<div style="display: none;" id="subtabs_third" onmouseover="$('#tab_third').addClass('subtabs_hover');" onmouseout="$('#tab_third').removeClass('subtabs_hover');">
		<ul><li><a href="#" class="">Лучшие и худшие критики</a></li><li><a href="#" class="">Лучшие и худшие издания</a></li><li><a href="#" class="">Рейтинг &laquo;мудрецов&raquo;</a></li><li><a href="#" class="">Самые активные критики</a></li></ul>
	</div>
	<div style="display: none;" id="subtabs_fourth" onmouseover="$('#tab_fourth').addClass('subtabs_hover');" onmouseout="$('#tab_fourth').removeClass('subtabs_hover');">
		<ul><li><a href="#" class="">Архив записей</a></li><li><a href="#" class="">Комментарии</a></li></ul>
	</div>
	<div style="display: none;" id="subtabs_slogan">Последний шанс для объективной критики</div>
</div>
<!-- ============== // TOP ============== -->

<div class="confirm_box _lh">
    <p>Подтвердите удаление записи</p>
    <a class="profile_button _min delete" href="#">Удалить</a>
    <a class="profile_button _min abort" href="#">Отмена</a>
</div>

<!-- ============== CONTENT ============== -->
<div class="content clearfix">
	<div class="settings_header">
    	<h1>Мои настройки</h1>
        <a class="profile_button _user" href="#">Константин Константинопольский<span class="_userpic" style="background-image:url(temp/photo4.jpg);"></span></a>
    </div>
	<div class="clr"></div>
	<div class="a_content">
    	<div class="tabs _settings">
        	<div class="tab"><a href="#settings_privacy">Настройки и приватность</a></div>
            <div class="tab _current"><a href="#">Управление подписками</a></div>
            <div class="tab"><a href="#">Любимое и нелюбимое</a></div>
        </div>
    </div>
	<div class="content_sections _settings _lovehate" id="setting_lovehate">
    	<div class="type _love">
            <div class="chapter">
                <div class="box-240"><span class="title_box">Я люблю</span></div>
            </div>
            <div class="box-item">
            	<div class="box-240"><span class="title_box">Фильмы</span></div>
                <div class="box-450 items">
                    <div class="lh-name"><i>&nbsp;</i><a href="#" target="_blank">Призраки в Коннектикуте - Часть 2: Тени мегасуперзлоебучего прошлого</a></div>
                    <div class="lh-add _inp"><i>&nbsp;</i><span>Добавить</span></div>
                    <div class="holder" style="display:none;">
                    	<input type="text" name="add_movie" class="input_text" placeholder="Начните вводить название">
                    </div>
                </div>
			</div>
            <div class="box-item">
                <div class="box-240"><span class="title_box">Киножанры</span></div>
                <div class="box-450 items">
                    	<div class="lh-name"><i>&nbsp;</i><a href="#" target="_blank">боевик</a></div>
                        <div class="lh-add _sel"><i>&nbsp;</i><span>Добавить</span></div>
                        <div class="holder" style="display:none;">
                            <select class="genre" name="add_genre">
                                    <option>Выберите жанр</option>
                                    <option value="01">комедия</option> 
                                    <option value="02">триллер</option>
                                    <option value="03">мелодрама</option>
                                    <option value="04" selected>боевик</option>
                                    <option value="05">криминал</option>
                                    <option value="06">приключения</option>
                                    <option value="07">ужасы</option>
                                    <option value="08">фэнтези</option>
                                    <option value="09">фантастика</option>
                                    <option value="10">аниме</option>
                            </select>
                        </div>
                </div>
            </div>
            <div class="box-item">
                <div class="box-240"><span class="title_box">Игры</span></div>
                <div class="box-450 items">
                    	<div class="lh-name">
                        	<i>&nbsp;</i><a href="#" target="_blank">Metal Gear Solid 4: Guns of the Patriots</a>
                        </div>
                        <div class="lh-add _inp"><i>&nbsp;</i><span>Добавить</span></div>
                        <div class="holder" style="display:none;">
                    		<input type="text" name="add_game" class="input_text" placeholder="Начните вводить название">
                    	</div>
                </div>
            </div>
            <div class="box-item">
                <div class="box-240"><span class="title_box">Игровые платформы</span></div>
                <div class="box-450 items">
                        <div class="lh-add _sel"><i>&nbsp;</i><span>Добавить</span></div>
                        <div class="holder" style="display:none;">
                            <select class="platform" name="add_platform">
                                <option>Выберите платформу</option>
                                <option value="01">PC</option> 
                                <option value="02">Xbox 360</option>
                                <option value="03">PlayStation 3</option>
                                <option value="04">PlayStation 2</option>
                                <option value="05">Mac</option>
                                <option value="06">Xbox</option>
                                <option value="07">iOS</option>
                                <option value="08">ZX Spectrum</option>
                                <option value="09">PlayStation</option>
                                <option value="10">Wii</option>
                                <option value="11">PSP</option>
                                <option value="12">PS Vita</option>
                            </select>
                        </div>
                </div>
            </div>
        </div>
        <div class="type _hate">
            <div class="chapter">
                <div class="box-240"><span class="title_box">Я не люблю</span></div>
            </div>
        </div>
        <!-- IF EMPTY --//
        <div class="box-450">
            <div class="head subs">
                <h2>Подписок пока нет</h2>
                <p>Вы можете отслеживать активность интересных вам <span class="t-icon _t-critic-a">изданий</span> или <span class="t-icon _t-critic-a">критиков</span>: 
                что и как они оценивают в своих новых рецензиях.</p>
                <p>Также вы можете наблюдать за оценками других <span class="t-icon _t-user">посетителей</span> «Критиканства» 
                (если они не отключили такую возможность).</p>
            </div>
        </div>
        // -->
    </div>
</div>
<!-- ============== // CONTENT ============== -->



<!-- ============== FOOTER ============== -->
<div class="footer clearfix">
	<div class="left">
		<p>&copy; 2012 <span>Критиканство</span></p>
		<p>Электронная почта: <a href="mailto:mail@kritikanstvo.ru">mail@kritikanstvo.ru</a></p>
		<p><a href="#">О проекте</a></p>
	</div>
	<div class="left">
		<p>На сайте используются материалы <a href="http://www.rottentomatoes.com" target="_blank" title="Откроется в новом окне">Rotten Tomatoes</a>, <a href="http://www.gamerankings.com" target="_blank" title="Откроется в новом окне">GameRankings</a> и других ресурсов.</p>
	</div>
	<div class="right"><p>Создание сайта: <a href="http://www.kino-govno.com" target="_blank" title="Откроется в новом окне">КГ.Дизайн</a></p></div>
</div>
<!-- ============== // FOOTER ============== -->



</body></html>











